*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
@font-face {
        font-family: "DIN Next LT Arabic";
        src: url('230163575-DINNextLTArabic-Regular.eot');
        src: url('230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'),
        url('230163575-DINNextLTArabic-Regular.woff') format('woff'),
        url('230163575-DINNextLTArabic-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "DIN Next LT Arabic medium";
        src: url('147277833-DINNextLTArabic-Medium.eot');
        src: url('147277833-DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('147277833-DINNextLTArabic-Medium.svg#DIN Next LT Arabic') format('svg'),
        url('147277833-DINNextLTArabic-Medium.woff') format('woff'),
        url('147277833-DINNextLTArabic-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

body{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
        font-family: "DIN Next LT Arabic";
	color: #808285;
}

img{
	border: none;
}
.clr{
	clear: both;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0;
}

ul,li{
	margin: 0;
	padding: 0;
}

a:link,
a:visited{
	color: #0070b9;
	text-decoration: none;
}

.page{
	border-top: 6px solid #0071b9;
}

.header-container{
	background:url(../images/headerBg.jpg) repeat-x left bottom #fff;
	padding: 43px 0 24px;
}

.wrapper{
	max-width: 1208px;
	margin: 0 auto;
}

.topLinks a {
  margin: 0 6px 0 28px;
  display: inline-block;
  font-size: 26px;
  line-height: 1;
}

.searchBox{
	padding: 18px 0 24px;
}

.topLinks {
  direction: rtl;
  padding-bottom: 4px;
}

.topSocialLinks {
  direction: rtl;
}

.searchBox input{
	width: 560px;
	border: 1px solid #42c7f4;
	height: 66px;
	background: url(../images/search.png) no-repeat 98% center #ffffff;
	padding: 10px 66px 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-indent: 5px;
	line-height: 40px;
}

.topSocialLinks ul{
	line-height: 1;
}

.topSocialLinks ul li{
	list-style: none;
	margin: 0 0px 0 8px;
	display: inline-block;
	vertical-align: top;
}

.topSocialLinks ul li.lastsociallink{
	margin: 0 8px 0 30px;
}

.topSocialLinks ul li.lastsociallink a{
	font-size: 27px;
	color: #0070b9;
}

.headerRht {
  float: left;
  padding: 13px 0 0 32px;
}

.headerLft {
  float: right;
}

.menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{}

ul.mainMenu li{
	display: inline-block;
	font-size: 34px;
}

ul.mainMenu li a{
	color: #ffffff;
	display: block;
	padding: 12px 54px 24px;
	background: url(../images/menuborder.png) no-repeat right center;
	position: relative;
	line-height: 1;
}

ul.mainMenu li:hover a{
	background-color: #42c7f4;
	background-image: none;
	margin: 0 0 0 -2px;
	z-index: 1;
	padding: 12px 54px 24px 56px;
}

ul.mainMenu li:last-child a{
	background: none;
}

ul.mainMenu li:last-child:hover a{
	background: #42c7f4;
}

/*banner*/

.bannerWrapper{
	background:url(../images/homeBanner.png)  repeat-x right center;
	height: 495px;
	position: relative;
}

.bannerWrapper .slides{
	background:url(../images/banner1.png) no-repeat left top;
	height: 496px;
}

.caption {
  position: absolute;
  top: 86px;
  margin: 0 auto;
  width: 1208px;
  left: 0;
  right: 0;
  padding: 0 60px 0 0;
}

.caption h1{
	font-size: 81px;
	line-height: 101px;
	color: #ffffff;
	text-shadow: 3px 3px 0 #000000;
    font-family: "DIN Next LT Arabic medium";
}

.caption h2{
	font-size: 61px;
	color: #ffffff;
	text-shadow: 3px 3px 0 #000000;
	line-height: 100px;
}

.caption .slideLinks {
	padding: 42px 0 0;
}
.caption .slideLinks a{
	width: 190px;
	border: 1px solid #eee;
	font-size: 26px;
	color: #ffffff;
	display: inline-block;
	margin: 0 20px 0 0px;
	text-align: center;
	height: 60px;
	line-height: 50px;
}

.content-container .topPane{
	padding: 40px 0 70px;
	background: #f4f7f8;
	direction: rtl;
}

.topPaneblock{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0 40px 0 10px;
}
.topPaneblock h3{
	margin: 0;
	font-size: 29px;
	/*font-size: 30px;*/
	color: #42c7f4;
	text-align: left;
	line-height: 1;
	padding: 0 0px 12px 45px;
}

.topPaneblock p{
	font-size: 20px;
	line-height: 24px;
}

.topPaneblock p.textBlock{
	min-height: 216px;
}

.topPaneblock.partners h3{
	background:url(../images/partners.png) no-repeat left 8px;
}

.topPaneblock.guidence h3{
	background:url(../images/guide.png) no-repeat left 4px;
}

.topPaneblock.settings h3{
	background:url(../images/settings.png) no-repeat left 4px;
}

.topPaneblock a:before{
	content: "";
	clear: both;
	display: block;
}

.topPaneblock a{
	display: inline-block;
	width: 115px;
	border: 1px solid #7dd7f6;
	float: right;
	color: #7dd7f6;
	text-align: center;
	margin: 5px 0 0;
	padding: 9px 0;
}

.mainContent{
	padding: 42px 0 0;
}

.slideControls .slideControlsLeft a{
	text-indent: -9999px;
	width: 53px;
	height: 53px;
	margin: 0 0px 0 12px;
	display: inline-block;
}

.slideControls .slideControlsLeft a.leftSlide{
	background: url(../images/arrowLeft.jpg) no-repeat center center;
}

.slideControls .slideControlsLeft a.rightSlide{
	background: url(../images/arrowRight.jpg) no-repeat center center;
}

.slideControlsLeft {
  float: right;
  vertical-align: middle;
  display: inline-block;
}

.slideControlsright {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 33.33px;
  color: #0070b9;
  line-height: 1.5;
}

.slideControls{
	padding: 0 0 15px;
}

.slidesBlock ul{
}

.slidesBlock ul li{
	width: 30%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 220px 15px 8px;
}

.slidesBlock ul li.slideOne{
	background: url(../images/slide1.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0 0;
}

.slidesBlock ul li.slideTwo{
	background: url(../images/slide2.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0;
}

.slidesBlock ul li.slideThree{
	background: url(../images/slide3.png) no-repeat center top #f4f7f8;
	margin: 0 0 0 2.5%;
}

.slidesBlock ul li.slideOne h4{
	color: #7fbd32;
	font-size: 44px;
	line-height: 1;
	margin: 0 0 18px;
}

.slidesBlock ul li.slideTwo h4{
	color: #0068b6;
	font-size: 44px;
	line-height: 1;
	margin: 0 0 18px;
}

.slidesBlock ul li.slideThree h4{
	color: #ef7a00;
	font-size: 44px;
	margin: 0 0 18px;
	line-height: 1;
}

.slidesBlock ul li p{
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 10px;
}

.bottomPane{
	padding: 75px 0 70px;
}

.bottompaneleft{
	display: inline-block;
	width: 783px;
	margin-right: 20px;
	vertical-align: top;
}

.newsBlock > img {
  float: left;
  margin: 6px 20px 0 0px;
}

.bottompanecenter{
	display: inline-block;
	width: 350px;
	margin-right: 30px;	
	vertical-align: top;
}

.bottompaneright{
	width: 365px;
	margin: 0 30px 0 0;
	display: inline-block;
	vertical-align: top;
}

.bottomPane h5 {
  font-size: 22px;
  line-height: 1;
  margin: 0 0 5px;
}

.bottomPane p {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 10px;
}

.bottomPane .newsBlock{
	padding: 0 0 50px;
}

.bottomPane .newsBlock:last-child{
	padding: 0;
}

.bottompanecenter img{
	margin: 0 0 58px;
}

.bottompanecenter img:last-child{
	margin: 0;
}

.bottompaneright .twitHeading{
	background: url(../images/sidetwitter.png) no-repeat right center #00aff0;
	padding: 15px 0;
}

.bottompaneright .twitHeading a{
	margin: 0 0 0 20px;
	display: inline-block;
	padding: 0 15px;
	border: 1px solid #b9e9fb;
	color: #ffffff;
	height: 46px;
	width: 182px;
	font-size: 29px;
	text-align: center;
	line-height: 35px;
}

.twitlinks {
  font-size: 18px;
  line-height: 25px;
}

.twitlinks a{
	color: #808285;
  padding: 20px 5px;
  display: block;
}

.twitlinks a:hover{
	color: #808285;
	background: #fafafa;
}

.footerTop{
	background: #f4f7f8;
	padding: 25px 0 35px;
}

.footerTop .footerTopLeft{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.footerTop .footerTopLeft h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 15px;
}

.footerTop .footerTopCenter{
	width: 33%;
	vertical-align: top;
	margin: 0 .5%;
	text-align: left;
	display: inline-block;
}

.footerTop .footerTopCenter h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 15px;
}

.footerTop .footerTopRight{
	vertical-align: top;
	width: 33%;
	display: inline-block;
	padding: 0 70px 0 0;
}

.footerTop .footerTopRight h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 15px;
}


.footerTop .footerTopLeft ul li {
  display: inline-block;
  margin: 0 0 10px 10px;
}

.footerTopCenter ul{
	list-style: none;
}

.footerTopCenter ul li{
	margin: 0 0 14px;
	line-height: 1;
}

.footerTopCenter ul li a{
	color: #808285;
}

.footerTopRight ul{
	list-style: none;
}

.footerTopRight ul li a{
	color: #808285;
}

.footerTopRight ul li{
	margin: 0 0 14px;
	line-height: 1;
}

.footerbottom{
	padding: 20px 0 50px;
}

.footerbottom .footerlinks{
	float: right;
}


.footerbottom .footerlinks a{
	margin: 0 18px 0 0;
}
	
.footerbottom .copyrights{
	float: left;
	color: #005d9a;
	padding: 0 40px 0 0;
}

.footerbottom .footerlinks .lastLink{
	background:url(../images/footerlinks_bg.jpg) no-repeat left 12px;
	padding: 0 0 0 18px;
}

/*Inner Page*/

.innerLeft {
  float: right;
  width: 72.5%;
}

.innerLeft.categoryPage {
  float: right;
  width: 74%;
}

.innerRight {
  float: left;
  width: 24%;  
}

span.date {
  float: right;
  font-size: 23.33px;
  color: #929292;
}

span.newsHeading {
  float: left;
  font-size: 25.62px;
  color: #0070b9;
}

.categoryNewsBlock .heading {
  color: #0070b9;
  font-size: 22px;
  line-height: 1.2;
  padding: 0 0 10px;
}

.newsDetailbottom p{
	font-size: 22px;
	line-height: 35px;
	margin: 0;
}

.newsImg{
	padding: 0 0 15px;
}

.newsDetailTop{
	padding: 0 0 15px;
	overflow: hidden;
}

.sideMenu ul li{
	list-style: none;
	font-size: 24px;
}

.socialBlock {
  direction: ltr;
  padding: 0px 0 40px;
}

.sideMenu ul li a{
	display: block;
	padding: 6px 35px;
	min-height: 52px;
	line-height: 30px;
}

.sideMenu ul li.selected a,
.sideMenu ul li:hover a{
	background: #42c7f4;
	color: #ffffff;
}

.newsSection{
	padding: 0 23px 50px 0px;
}

.categoryNewsBlock p{
	font-size: 18px;
    line-height: 25px;
	margin: 0 ;
}

.categoryNewsBlock{
	width: 47.4%;
	padding: 16px 0 60px;
}

.categoryNewsBlock:nth-child(odd){
	float: left;
}

.categoryNewsBlock:nth-child(even){
	float: right;
}

.pagination {
  direction: rtl;
  margin: 0 0 100px;
}

.pagination ul{
	list-style: none;
}

.pagination ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 0;
	font-size: 30px;
	line-height: 40px;
}

.pagination ul li a{
	color: #ffffff;
	background: #42c7f4;
	height: 42px;
	line-height: 35px;
	width: 42px;
	display: block;
	text-align: center;
}

.soluSinglebottom p{
	font-size: 22px;
	line-height: 35px;
	margin: 0 ;
}

.soluSingleImg{
	padding: 0 0 20px;
}

.soluSinglebottom ul{
	margin: 30px 0 50px;
}

.soluSinglebottom ul li{
	font-size: 22px;
	line-height: 35px;
	list-style: none;
	margin: 0 ;
}

.innerLeft.solSinglePage{
	padding: 8px 0 0;
}

.innerLeft.solSinglePage .socialBlock{
	padding-top: 80px;
}

.categorySolutions ul{
	padding: 16px 0 0;
}

.categorySolutions ul li{
	list-style: none;
	width: 48%;
	padding: 0 0 54px;
}

.categorySolutions ul li:nth-child(odd){
	float: left;
}

.categorySolutions ul li:nth-child(even){
	float: right;
}

.categorySolutions {
  overflow: hidden;
}
.categorySolutions ul li .catSolimg{
	margin: 0 0 14px;
}

.categorySolutions ul li h4{
	font-size: 37px;
	color: #0070b9;
	line-height: 54px;
	padding: 0 40px 0 0;
}

.categorySolutions ul li span{
	display: block;
	font-size: 29.1px;
	padding: 0 40px 0 0;
	line-height: 35px;
}

/*ELM*/


body {
    background: url("images/bg_body.png") no-repeat scroll center top #f4f4f4;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
.clr {
    clear: both;
    height: 0;
}
.main_div {
    margin-top: 10px;
}
.header {
    height: 114px;
}
.h_top {
    background: url("images/bg_header_top.png") repeat-x scroll center top #fff;
    height: 102px;
}
.h_bottom {
    background: url("images/bg_header_bottom.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
}
.h_top > div {
    height: 102px;
    margin: 0 auto;
    width: 864px;
}
.logo {
    float: left;
    margin-left: 16px;
}
.header_left {
    float: right;
    height: 102px;
    width: 450px;
}
.main_body {
    margin: 0 auto;
    width: 600px;
}
.body_top {
    height: 10px;
}
.body_top > div {
    background: url("images/m_top.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 10px;
    width: 580px;
}
.body_midd {
    background: url("images/m_right.png") repeat-y scroll right center rgba(0, 0, 0, 0);
    width: 600px;
}
.body_midd > div {
    background: url("images/m_left.png") repeat-y scroll left center rgba(0, 0, 0, 0);
    width: 600px;
}
.body_midd > div > div {
    margin: 0 10px;
    padding: 15px;
}
.body_bottom {
    height: 10px;
}
.body_bottom > div {
    background: url("images/m_bottom.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 10px;
    width: 580px;
}
.h_404 {
    color: #7b7b7b;
    float: left;
    margin: 70px 0 0 180px;
}
.psge_404 {
    color: #7b7b7b;
    min-height: 200px;
    padding: 30px !important;
}
.psge_404 span {
    
}