﻿*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
@font-face {
        font-family: "DIN Next LT Arabic";
        src: url('230163575-DINNextLTArabic-Regular.eot');
        src: url('230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'),
        url('230163575-DINNextLTArabic-Regular.woff') format('woff'),
        url('230163575-DINNextLTArabic-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "DIN Next LT Arabic medium";
        src: url('147277833-DINNextLTArabic-Medium.eot');
        src: url('147277833-DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('147277833-DINNextLTArabic-Medium.svg#DIN Next LT Arabic') format('svg'),
        url('147277833-DINNextLTArabic-Medium.woff') format('woff'),
        url('147277833-DINNextLTArabic-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
@font-face {
        font-family: "333-mohannad ultrabold";
        src: url('230163575-DINNextLTArabic-Regular.eot');
        src: url('230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'),
        url('230163575-DINNextLTArabic-Regular.woff') format('woff'),
        url('230163575-DINNextLTArabic-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
.ms-rteFontSize-4 span, .ms-rtestate-field,.ms-rteTableEvenCol-0,.MsoNormal span,.MsoNormal,.MsoListParagraphCxSpFirst span,.MsoListParagraphCxSpFirst
{
	font-family: "DIN Next LT Arabic";

}

    .owl-controls
    {
        text-align:right !Important;
    }

.s4-titletable{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
        font-family: "DIN Next LT Arabic";
	color: #808285;
	direction: ltr;}

body #s4-bodyContainer{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: "DIN Next LT Arabic";
		color: #808285;
	direction: ltr;
}
body .footer-container{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: "DIN Next LT Arabic";
		color: #808285;
	direction: ltr;
}

body{
	background: #f6f6f6;
}
.ms-WPBody 
{
   font-size: 20px !Important; 
}

.s4-search input.ms-sbplain {
    width: 280px !important;
    border: 1px solid #42C7F4 !important;
    height: 35px;
    background: url('../../Images/search.png') no-repeat scroll 98% center #FFF;
	padding: 0px 32px 6px 10px;
	font-family: "DIN Next LT Arabic";
	font-size: 16px;
	text-indent: 5px;
	line-height: 100%;
}

.ms-WPBody
{
     font-family: "DIN Next LT Arabic" !Important;
}
.s4-search .srch-gosearchimg {
 display:none;
 visibility:hidden;
}



img{
	border: none;
}
.clr{
	clear: both;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal !Important;
	margin: 0;
}

ul,li{
	margin: 0;
	padding: 0;
}
.newsBlock a:visited,
a:link,
a:visited{
	color: #0070b9 ;
	text-decoration: none;
}

.categoryNewsBlock a:visited{
	color: #0070b9 ;

}

a:hover{
	text-decoration: none;
}

.page{
	border-top: 5px solid #11034b;	border-right: none;
	width: 100% !important;

	border-left: none;

}

.header-container {
  background: url("../../Images/headerBg.jpg") repeat-x scroll left bottom #fff;
  padding: 0 0 16px;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

.mainContent .wrapper .eventsBlock {
  background: none repeat scroll 0 0 #ffffff;
  padding: 24px 0 0;
  border: 1px solid #e3e3e3;
}

.mainContent .wrapper .bottomPane{
	margin: 0 auto;
}

#owl-demo {
  width: 963px !important;
}


.topLinks a {
  margin: 0 3px 0 28px;
  display: inline-block;
  font-size: 16px; /* changed from 22 to 20 */
  line-height: 1;
}

.searchBox{
	padding: 2px 0 10px;
}

.topLinks {
/*  direction: rtl;*/
  padding-bottom: 10px;
  text-align: right;
  font-size: 0;
}

.topSocialLinks {
  text-align: right;
  direction:ltr;
  font-size: 0;
}


.searchBox input{
	width: 560px;
	border: 1px solid #42c7f4;
	height: 66px;
	background: url(../../images/search.png) no-repeat 98% center #ffffff;
	padding: 10px 66px 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-indent: 5px;
	line-height: 40px;
}

.topSocialLinks ul{line-height: 1;
display: inline-block;
vertical-align: middle;
font-size: 0;
padding: 0 3px 0 0px;
}

.topSocialLinks ul li {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0px 0 5px;
  vertical-align: middle;
}

.topSocialLinks img {
  width: 27px;
  height: 27px;
}

.topSocialLinks ul li.lastsociallink{
	margin: 0 8px 0 30px;
}

.followUs {
  color: #0070b9;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin: 3px 15px 0 0;
  vertical-align: top;
}

.headerRht {
  float: left;
  padding: 13px 0 0 32px;
}

.headerLft {
  float: right;
  padding: 28px 0px 0 0;
}
.menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{
	font-size: 0;
	padding: 0 0px 0 0px;
}

ul.mainMenu li {
  display: inline-block;
  font-size: 21px;
}

ul.mainMenu > li > a{
	color: #ffffff;
	display: block;
	padding: 8px 27px 16px;
	position: relative;
	line-height: 1;
}

ul.mainMenu > li.menuItemSelected > a,
ul.mainMenu > li:hover > a{
	background-color: #11034b;
	background-image: none;
	z-index: 1;
	padding: 8px 27px 16px;
}

ul.mainMenu > li:last-child > a{
	background: none;
}

ul.mainMenu > li:last-child:hover > a{
	background: #11034b;
}
/* .menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{
	font-size: 0;
}

ul.mainMenu li {
  display: inline-block;
  font-size: 27px;
}

ul.mainMenu li a{
	color: #ffffff;
	display: block;
	padding: 12px 39px 19px;
	background: url(../../images/menuborder.png) no-repeat right center;
	position: relative;
	line-height: 1;
}

ul.mainMenu li:hover a{
	background-color: #42c7f4;
	background-image: none;
	margin: 0 0 0 -2px;
	z-index: 1;
	padding: 12px 39px 19px 41px;
}

ul.mainMenu li:last-child a{
	background: none;
}

ul.mainMenu li:last-child:hover a{
	background: #42c7f4;
} */

/*banner*/

.bannerWrapper{
	position: relative;
}

.bannerWrapper .slides{
	/*background:url(../../images/banner1.png) no-repeat left top;*/
	
}

.caption {
  position: relative;
  top: 36px;
  margin: 0 auto;
  width: 960px;
  left: 0;
  right: 0;
  padding: 0 60px 0 0;
}

.caption h1 {
  color: #ffffff;
  font-family: "DIN Next LT Arabic medium";
  font-size: 56px;
  line-height: 86px;
  text-shadow: 3px 3px 0 #000000;
}
.caption h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 46px;
  text-shadow: 3px 3px 0 #000000;
}
.caption .slideLinks {
  padding: 26px 0 0;
}
.caption .slideLinks a {
  border: 1px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 50px;
  line-height: 38px;
  margin: 0 15px 0 0;
  text-align: center;
  width: 160px;
}
.content-container .topPane{
	background: #f4f7f8;
/*	direction: rtl;*/
}

.topPaneblock {
  display: inline-block;
  margin: 0 4.5%;
  vertical-align: top;
  width: 28%;
}
.topPaneblock:last-child {
  margin: 0 3% 0 0;
}

.topPaneblock:first-child {
  margin: 0 0 0 3%;
}

.topPaneblock h3 {
  color: #0070b9;
  font-size: 22px;
  line-height: 1;
  margin: 0;
  min-height: 30px;
  text-align: left;
}

.topPaneblock p {
  font-size: 16px;
  line-height: 20px;
  margin: 12px 0 0;
  min-height: 175px;
}

.topPaneblock p.textBlock{
	min-height: 216px;
}

.topPaneblock.partners h3{
	background:url(../../images/partners.png) no-repeat left 8px;
}

.topPaneblock.guidence h3{
	background:url(../../images/guide.png) no-repeat left 4px;
}

.topPaneblock.settings h3{
	background:url(../../images/settings.png) no-repeat left 4px;
}

.topPaneblock a:before{
	content: "";
	clear: both;
	display: block;
}

.topPaneblock a.readMore {
  background: none repeat scroll 0 0 #91278f;
  color: #fff !important;
  display: inline-block;
  float: right;
  font-size: 15px;
  height: 33px;
  line-height: 28px;
  margin: 5px 0 0;
  padding: 0 0 5px;
  text-align: center;
  width: 86px;
}

.topPaneblock a.solTitle
{
	color:#0072bc;
}

.mainContent{
	padding: 26px 0 0;
}

.slideControls .slideControlsLeft a{
	text-indent: -9999px;
	width: 53px;
	height: 53px;
	margin: 0 0px 0 12px;
	display: inline-block;
}

.slideControls .slideControlsLeft a.leftSlide{
	background: url(../../images/arrowLeft.jpg) no-repeat center center;
}

.slideControls .slideControlsLeft a.rightSlide{
	background: url(../../images/arrowRight.jpg) no-repeat center center;
}

.slideControlsLeft {
  float: right;
  vertical-align: middle;
  display: inline-block;
}

.slideControlsright {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  color: #0070b9;
  line-height: 1;
}

.slideControls{
	padding: 0 0 15px;
}

.slidesBlock ul{
}

.slidesBlock ul li{
	width: 30%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 220px 15px 8px;
}

.slidesBlock ul li.slideOne{
	background: url(../../images/slide1.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0 0;
}

.slidesBlock ul li.slideTwo{
	background: url(../../images/slide2.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0;
}

.slidesBlock ul li.slideThree{
	background: url(../../images/slide3.png) no-repeat center top #f4f7f8;
	margin: 0 0 0 2.5%;
}

.slidesBlock ul li.slideOne h4{
	color: #7fbd32;
	font-size: 44px;
	line-height: 1;
	margin: 0 0 18px;
}

.slidesBlock ul li.slideTwo h4{
	color: #0068b6;
	font-size: 44px;
	line-height: 1;
	margin: 0 0 18px;
}

.slidesBlock ul li.slideThree h4{
	color: #ef7a00;
	font-size: 44px;
	margin: 0 0 18px;
	line-height: 1;
}

.slidesBlock ul li p{
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 10px;
}

.bottomPane{
	padding: 30px 0 26px;
	font-size: 0;
}

.bottompaneleft {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #e3e3e3;
  display: inline-block;
  margin-right: 0;
  padding: 25px;
  position: relative;
  vertical-align: top;
  width: 640px;
  height: 350px;
}
.newsBlock > img {
  float: left; /* changed from left to right */
  margin: 6px 20px 0 0px;
  border: 2px solid #e3e3e3;
}
.newsBlock > img:hover {
opacity: .7; /* other browsers  and IE9+ */
	filter: alpha(opacity=70); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* this works in IE8 only */
}



.bottompanecenter{
	display: inline-block;
	width: 350px;
	margin-right: 30px;	
	vertical-align: top;
}

.bottompaneright {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #e3e3e3;
  display: inline-block;
  margin: 0 0 0 34px;
  padding: 25px 23px;
  text-align: right;
  vertical-align: top;
  width: 326px;
  height:350px;
}

.newsBlock span {
  color: #0070b9;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 18px;
}

.newsBlock p a.readMore span {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
}

.bottomPane h5 {
  font-size: 21px;
  line-height: 1;
  margin: 0 0 5px;
}

.bottomPane p {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px;
}

.bottomPane .newsBlock{
	padding: 0 0 50px;
}

.bottomPane .newsBlock:last-child{
	padding: 0;
}

.bottompanecenter img{
	margin: 0 0 58px;
}

.bottompanecenter img:last-child{
	margin: 0;
}

.bottompaneright .twitHeading{
	background: url(../../images/sidetwitter.png) no-repeat right center #00aff0;
	padding: 11px 0;
	margin: 0 0 20px;
	text-align: left;
}

.bottompaneright .twitHeading a {
  border: 1px solid #b9e9fb;
  color: #ffffff ;
  display: inline-block;
  font-size: 22px;
  height: 36px;
  line-height: 28px;
  margin: 0 0 0 15px;
  padding: 0 15px;
  text-align: center;
  width: 135px;
}
.bottompaneright .twitHeading a:hover{
	
border: 1px solid #0070b9;
  
}

.twitlinks {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.ms-WPBody .twitlinks{
  padding: 8px 5px 12px;
}


.twitlinks{}
 .twitlinks:hover {
    background: none repeat scroll 0 0 #fafafa;
}

.ms-WPBody .twitlinks a {
    color: #0070b9 !important;
    display: inline-block;

}

.footerTop {
  background: none repeat scroll 0 0 #11034b;
  font-size: 0;
  padding: 10px 0 28px;
  white-space: nowrap;
}

.footerTop .footerTopLeft{
	width: 26%;
	display: inline-block;
	vertical-align: top;
}

.footerTop .footerTopLeft h6 {
  color: #00aff0;
  font-size: 20px;
  margin: 0 0 10px;
}

.footerTop .footerTopCenter{
	width: 33%;
	vertical-align: top;
	margin: 0 .5%;
	text-align: left;
	display: inline-block;
}

.footerTop .footerTopCenter h6 {
  color: #00aff0;
  font-size: 20px;
  margin: 0 0 10px;
}

.footerTop .footerTopRight{
	vertical-align: top;
	width: 33%;
	display: inline-block;
	padding: 0 0 0 70px;
}

.footerTop .footerTopRight h6 {
  color: #00aff0;
  font-size: 20px;
  margin: 0 0 10px;
}

.footerTop .footerTopLeft ul li {
  display: inline-block;
  margin: 0 6px 6px 0px;
}


.footerTopCenter ul{
	list-style: none;
}

.footerTopCenter ul li a{
	color: #fff;
}

.footerTopRight ul{
	list-style: none;
}

.footerTopRight ul li a{
	color: #fff;
}

.footerTopCenter ul li, .footerTopRight ul li {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 10px;
}

.footerbottom {
  padding: 10px 0 15px;
}

.footerTopLeft img {
  width: 50px;
}

.footerbottom .footerlinks{
	float: right;
	line-height: 1;
}

.footerTopLeft > ul {
  width: 75%;
}

.footerbottom .footerlinks a {
  font-size: 16px;
  margin: 0 18px 0 0;
  line-height:1;
}	
.footerbottom .copyrights{
	float: left;
	color: #005d9a;
	padding: 0 40px 0 0;
	font-size: 16px;
}

.footerbottom .footerlinks .lastLink{
	background:url(../../images/footerlinks_bg.jpg) no-repeat left 5px;
	padding: 0 0 0 18px;
}

/*Inner Page*/

.innerLeft {
  float: right;
  width: 75.5%;
}

.innerLeft.categoryPage {
  float: right;
  width: 74%;
  padding: 0 0 0 20px;
}

.innerRight {
  float: left;
  width: 22%;  
}

.sideMenu{
	background: #fff;
	  border: 1px solid #e3e3e3;
}

.innerRightNews {
  float: left;
  width: 72.5%;  
}

span.date {
  color: #929292;
  float: right;
  font-size: 19px;
  line-height:1;
}

span.newsHeading {
  color: #0070b9;
  float: left;
font-size: 20px;
    line-height: 1;
}

.categoryNewsBlock .heading {
  color: #0070b9;
  font-size: 23px;
 
  padding: 0 0 15px;
  min-height: 95px;
  line-height:26px;
}

.newsDetailbottom {
  font-size: 18px;
  line-height: 28px;
}

.newsDetailbottom p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.newsImg > img {
max-height: 199px;
 min-height: 199px;
}

.newsImg img{
	max-width:100%;
}


.newsImg{
	padding: 0 0 15px;
}

.newsDetailTop {
  border-bottom: 1px solid #0070b9;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0 0 20px;
}

.sideMenu ul li {
  font-size: 17px;
  line-height: 26px;
  list-style: none outside none;
}

.socialBlock {
  direction: rtl;
}

.socialBlock {
  background: none repeat scroll 0 0 #fff;
  margin: 20px 0 43px;
  padding: 5px 20px;
}

.sideMenu ul li a {
  display: block;
  padding: 5px 10px 11px 16px;
}

.soluSinglebottom {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.sideMenu ul li a:hover, .sideMenu ul li.selected a {
  background: none repeat scroll 0 0 #11034b;
  color: #fff !important;
}

.newsSection {
  background: none repeat scroll 0 0 #ffffff;
  padding: 18px 0 0 25px;
    border: 1px solid #e3e3e3;
}

.categoryNewsBlock p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.categoryNewsBlock{
	width: 50%;
	padding: 0px 30px 40px 0;
}

.categoryNewsBlock{
	float: left;
}

.pagination {
/*  direction: rtl;*/
  margin: 0 0 0;
  padding: 0 25px;
  text-align: right;
}

.pagination ul{
	list-style: none;
}

.pagination ul li {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0px 0 8px;
  vertical-align: top;
}
.pagination ul li a {
  background: none repeat scroll 0 0 #42c7f4;
  color: #ffffff !important;
  display: block;
  height: 35px;
  text-align: center;
  width: 35px;
}
.soluSinglebottom p{
	font-size: 22px;
	line-height: 35px;
	margin: 0 ;
}

.soluSingleImg {
  padding: 0 0 10px;
}

.soluSingleImg img {
  max-width: 100%;
}

.soluSinglebottom ul {
  margin: 25px 0 30px;
}

.soluSinglebottom ul li {
  font-size: 18px;
  line-height: 28px;
  list-style: none outside none;
  margin: 0;
}
.innerLeft.solSinglePage{
	padding: 8px 0 0;
}

.innerLeft.solSinglePage .socialBlock{
	padding-top: 80px;
}

.categorySolutions .solutionLabel,
.categorySolutions .serviceLabel {
  border-bottom: 1px solid #0070b9;
  color: #0070b9;
  display: block;
  font-size: 25px;
  line-height: 1;
  max-width: 920px;
  padding: 0 0 18px;
}

.categorySolutions ul{
	padding: 30px 0 0;
	overflow: hidden;
}

.categorySolutions ul li {
  list-style: outside none none;
  margin: 0 40px 0 00px;
  padding: 0 0 48px;
  width: 280px;
}


.categorySolutions ul li{
	float: left;
}

.owl-wrapper{
	left:0px !Important; 
}

.s4-ca
{
	
	margin-left:0px;
	}

.categorySolutions {
  overflow: hidden;
  padding: 16px 0 30px 40px;
  background: #ffffff;
  margin: 7px 0 24px;
}
.categorySolutions ul li .catSolimg {
  margin: 0 0 2px;
}

.categorySolutions ul li h4 {
  color: #0070b9;
  font-size: 23px;
  line-height: 1;
  margin: 8px 0 18px;
  padding: 0;
}

.categorySolutions.solutionPage ul li h4 img {
  float: left;
  margin: 5px 8px 0 0px;
  max-width: 40px;
}



.categorySolutions ul li h4 a{
	color: #0070b9 !important;
}

.catSolimg > a {
  display: block;
}

.catSolimg img {
  max-width: 100%;
}

.categorySolutions ul li span.catesoltext {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}

.categorySolutions.solutionPage ul li span.catesoltext {
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
}

.categorySolutions.solutionPage ul {
  overflow: hidden;
  padding: 20px 0 0;
}

.categorySolutions.solutionPage a.readMore {
  background: none repeat scroll 0 0 #91278f;
  color: #fff !important;
  display: inline-block;
  float: right;
  font-size: 15px;
  height: 33px;
  line-height: 26px;
  margin: 20px 0 0;
  padding: 0 0 5px;
  text-align: center;
  width: 86px;
}

.categorySolutions.solutionPage ul li {
  list-style: outside none none;
  margin: 0;
  padding: 0 40px 48px 00px;
  width: 50%;
}

ms-WPHeader
{
   display:none;
    }
    
.ms-WPBorder {
border-style: none;
}

.NewsTitle
{
 color: #0070b9;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 18px;
}

/* Start form styles */
.star{float:right; width:auto; padding-top:10px; color:#676767;}
.sub_title{color:#006cb6; line-height:24px}
.formLabelTd{color:#676767; padding:5px 10px; width:20%; vertical-align:top; background-color:#fafafa}
.formControlTd{color:#676767; padding:5px 10px; width:60%; vertical-align:top; background-color:#fafafa}
.formMultiTextBox{width:98%; color:#676767;background-color:#f3f3f3; border:1px solid #e5e5e4; height:100px; padding:3px; overflow:auto}
.formTextBox{width:98%; color:#676767;background-color:#f3f3f3; border:1px solid #e5e5e4; padding:3px}
.formDropDown{width:50%; color:#676767;direction:ltr; background-color:#f3f3f3; border:1px solid #e5e5e4; padding:3px}
.DevHelperRequiredMark{color:#d02a2a}
.formSmallNote{color:#cacaca}
.form_btn{background:#00aff0;color:#fff; text-align:center; float:right; margin-left:10px; padding:0px 20px; border:0; cursor:pointer; text-decoration:none; line-height:22px;margin-top: 10px;}
.form_btn:hover{color:#fff}
.message{background-color:#f3f3f3; border:1px solid #e5e5e4; margin-bottom:10px; color:#7f7d7d;}
.message_icon{width:40px; vertical-align:top; height:35px;background-image: url("../../Images/okIcon.png");}
.message_x{width:10px; vertical-align:top; text-align:center}

/* End form styles */


 #owl-demo
    {
        width: 960px;
    }
     #owl-demo .item{
        margin: 0px 0 0 0;
        min-height:195px;
        padding:0;
    }
      
    .ms-WPBody a:visited{
	
}

  .owl-item .testh4
    {
        color: #7FBD32;
 line-height: 1;
    margin: 0 0 18px;
    padding: 0;
    }
 

     .owl-item .testP {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0 0 10px;
  text-align:left;
}
    
    .item img
    {
	width:100% !Important;
}
    
    .serviceItem a
    {
	float:right;
}
div.s4-ca{
	margin-right:0;
}

.footer-container
{
	direction:ltr;
}

.owl-carousel
{
	direction:ltr;
}

/*Changes*/

body #s4-topheader2{
	border: none;
}

.flexslider{
}

.ms-WPBody a:hover{
	text-decoration: none;
}

.topPaneblock img {
  display: inline-block;
  vertical-align: middle;
}


.bannerWrapper .flexslider {
  box-shadow: none;
  margin: 20px auto 0;
  max-width: 1000px;
}


.bottomPane h5 span {
  color: #0070b9;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
}

.bottomPane p.newsHomeContent {
  min-height: 170px;
}

.newsSection.detailPL{
  padding: 18px 25px 30px;

}

.newsBlock p a.readMore {
  background: none repeat scroll 0 0 #91278f;
  bottom: 35px;
  color: #fff !important;
  display: inline-block;
  font-size: 15px;
  height: 33px;
  right: 35px;
  margin: 5px 0 0;
  padding: 0 0 5px;
  position: absolute;
  text-align: center;
  width: 86px;
}

.newsBlock a.readMore:hover{
	background:#652d91;
	
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
 transform: translateY(-3px);
}

.ms-welcomeMenu a:link {
  color: #fff;
  font-size: 10px;
}

a.s4-signInLink{
	font-size: 10px !important;
}

.s4-trc-container-menu {
  float: left;
  margin: 0;
}

.ms-welcomeMenu {
  padding: 0;
}

.ms-cui-topBar2 {
  border-bottom: medium none;
  height: 43px;
}

.headerLft .s4-search input.ms-sbplain {
	color: #808285;
}

.ms-sbtable-ex {
	float: none;
}

.twitterBlock{

}

.twitterBlock .marquee{
	height: 220px !important;/*222*/
}

#s4-bodyContainer:after {
  clear: both;
  content: "";
  display: block;
}

.footerTopLeft > ul {
  width: 80%;
  white-space: normal;
}

.owl-buttons{
	padding: 0 0 18px 40px;
	font-size: 0;	
}

.eventsBlock .owl-theme .owl-controls {
  margin-top: 0;
  text-align: left;
}
/****** Bharti *********/

body #MSO_ContentTable{
	display:inline-block;
}

.serviceItem {
  direction: ltr;
  overflow: hidden;
  padding: 0 0 15px;
}

.serviceItem p {
  margin: 0;
  line-height: 25px;
}

.serviceItem a{
	line-height: 25px;
}

.s4-wpcell-plain .s4-wpTopTable{
	direction: ltr;
}

.s4-wpcell-plain .s4-wpTopTable td{
	direction: ltr !important;
	font-family: "DIN Next LT Arabic";
	font-size: 16px;
}

.s4-titlelogo {
  padding: 13px 0 0 0px;
  text-align: left;
  vertical-align: middle;
}

.s4-titlelogo img {
  width: 127px;
}

.mainContent .owl-theme .owl-controls .owl-buttons div.owl-prev,
.mainContent .owl-theme .owl-controls .owl-buttons div.owl-next {
  display: inline-block;
  height: 27px;
  margin: 0 0px 0 6px;
  width: 27px;
}

.mainContent .owl-carousel .owl-item {
  margin-left: 41px;
  margin-right: 0;
}

.owl-item .item > a.serviceImg {
  display: block;
}

.owl-item .testh4 {
  font-size: 23px;
  line-height: 1;
  margin: 6px 0 8px;
}

.socialBlock .fb-like{
	display: inline-block;
	float: right !important;
	vertical-align: top !important;
    padding: 4px 0 0 !important;
}

.socialBlock .fb-like > span{
	vertical-align: top !important;
}

.tweetBlock{
	padding: 0;
	display: inline-block;
	vertical-align: top;
	float: none;
}

.tweetBlock iframe{
	width: 90px;
}

.star {
  color: #676767;
  font-size: 13px;
}

.sideMenu ul li .menu-item-text{
	 text-decoration: none;
}

.innerRight .sideMenu ul.root li.selected .menu-item .menu-item-text{
	color: #ffffff;

	
}
.innerRight .sideMenu ul.root li.selected .menu-item,
.innerRight .sideMenu ul.root li .menu-item:hover,
.sideMenu ul li a:hover .menu-item-text{
	color: #ffffff;
		 text-decoration: none;
}

.innerRight .sideMenu ul.root li .menu-item{
  padding: 5px 10px 11px 16px !important;
  border: none;
  font-size: 17px;
}

.innerRight .sideMenu ul.root ul li .menu-item {
  border: medium none;
  font-size: 15px;
  padding: 0px 10px 6px 45px !important;
  color: #0070B9;
  background: url("../../Images/arrow.png") no-repeat scroll 30px center / 6px auto;
}

.innerRight .sideMenu ul.root ul li.selected .menu-item,
.innerRight .sideMenu ul.root ul li:hover .menu-item {
  background: url("../../Images/arrow-white.png") no-repeat scroll 30px center / 6px auto #11034B;
}

.innerRight .sideMenu ul.root ul{
	margin: 0;
}

.topPane .wrapper {
  background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #e3e3e3;
  padding: 25px 0px;
}

.bannerWrapper .flex-control-nav {
  bottom: 18px;
  height: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

input.s4-searchbox-QueryPrompt {
 	font-style: normal; 
}

.searchBox .ms-sbgo.ms-sbcell{
	width: 0;
}

.srch-Description2 {
  color: #808285;
  font-size: 1em;
  max-width: 100%;
  margin: 0;
}

.srch-Metadata1 {
  margin: 2px 0 30px;
  max-width: 100%;
  width: 100%;
}

.srch-Metadata2 {
  color: #666;
  margin-left: 0px;
}

.srch-Title3 {
  padding-left: 0px;
}
.srch-results {
  max-width: 100%;
  padding-left: 0;
}

.srch-Title2 .srch-Title3 a{
	text-decoration: none !important;
}

.srch-WPBody{
        font-family: "DIN Next LT Arabic";
}


.srch-URL2 {
  color: #808285 !important;
}

.srch-Page STRONG {
  background: #42C7F4;
  border: none;
  display: block;
  float: left;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin: 0 3px;
  padding: 2px 10.5px;
  text-decoration: none;
  height: 35px;
  width: 35px;
}

.srch-Icon img {
  float: right;
  vertical-align: top;
}

a.readMore:hover span {
	color:white;
}

a.readMore:hover{
	background:#652d91;
	
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
 transform: translateY(-3px);
}


.wrapper .megamenu li .dropdown_container, .wrapper .megamenu li .dropdown_fullwidth, .wrapper .megamenu li .dropdown_multilevel {
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.mainMenu.megamenu img {
  opacity: 1; /* other browsers  and IE9+ */
	filter: alpha(opacity=100); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* this works in IE8 only */
  transition: opacity 0.3s ease-in-out 0s;
  margin: 20px 32px 20px 20px;
  float: left;
}

.mainMenu.megamenu .col_6 {
  margin: 0;
  padding: 15px 50px 15px 30px;
  width: 50%;
  position: relative;
  border-right: 1px solid #271a5c;
  border-bottom: 1px solid #271a5c;

}

.mainMenu .menuArrow{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	width: 12px;
	height: 20px;
	background: url('../../Images/arrow-right.png') no-repeat center center;
}

.mainMenu.megamenu h3 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.mainMenu.megamenu p {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}


.newsBlock > img {
max-height:200px;
}


.pagination a {
    background: none repeat scroll 0 0 #42c7f4;
    color: #ffffff !important;
    display: inline-block;
    height: 42px;
    text-align: center;
    width: 42px;
    margin-left: 5px;
    padding: 0 10px;
    line-height:38px;
}

#s4-mainarea .s4-ca {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.slide-bg-color.flex-active-slide {
    background-position: right center;
}

ul.catServices .catSolimg > a {
    display: block;
    min-height: 230px;
}

.flexslider .slides > li {    background-position: left bottom; }

.slide-bg-color
{
	background-position:bottom;
}

.slideControlsright > span {
    cursor: default;
}

.mainContent .owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  height: 27px;
  margin: 0 6px 0 0;
  width: 27px;
}

.sideMenu .ms-quickLaunch {
  padding-top: 0px;
}


.mainContent .owl-theme .owl-controls .owl-buttons div span{
	color:#0072bc;
}

.mainMenu .dropdown_container{
	padding: 0 !important;
}

.eventsBlock .owl-prev {
  background: url("/Style Library/Images/arrowLeft.jpg") no-repeat scroll center center transparent;
}


.eventsBlock .owl-next {
  background: url("/Style Library/Images/arrowRight.jpg") no-repeat scroll center center transparent;
}

.eventsBlock .owl-prev:hover{
  background: url("/Style Library/Images/arrowLeft_Hover.png") no-repeat scroll center center transparent;

}

.eventsBlock .owl-next:hover{
  background: url("/Style Library/Images/arrowRight_Hover.png") no-repeat scroll center center transparent;

}



.list {
  padding: 0 0px 0 20px;
}

.pageTitle{
	color: #3db2ff;
}

.pageSubTitle{
	color: #7eccff;
}

.contentPara{

}

.tabularBlock{

}
.bannerWrapper .flex-control-paging li a:hover,
.bannerWrapper .flex-control-paging li a.flex-active{
	background: #0070b9;
}

.bannerWrapper .flex-control-paging li a {
	width: 12px;
	background: #808285;
	height: 12px;
	box-shadow: none;
}

.bannerWrapper .flex-control-nav li {
  display: inline-block;
  margin: 0 3px;
}




.tableContent th,
.tableContent td{
 border-left:1px solid #808285;
 border-bottom:1px solid #808285; 
 padding: 5px;
 font-size: 18px;
    line-height: 28px;
}

.tableContent tr:first-child td,
.tableContent tr:first-child th{
 border-top:1px solid #808285;
 font-size: 18px;
    line-height: 28px;
 color: #7eccff;
}

.tableContent tr th:last-child,
.tableContent tr td:last-child{
 border-right:1px solid #808285;
}

.currentPage{
	background-color:#11034b !important;
}

.orangeTitle{
color: #FFA500;
	}
	
/************************ added by bharti *********************/

.bannerWrapper .flex-control-paging li a{
	background-image:url("/Style Library/Images/slider-bullets.png");
	background-position:-17px 0;
	background-repeat:no-repeat;
	background-color:transparent;
	border-radius:0;
}
.bannerWrapper .flex-control-paging li a:hover, .bannerWrapper .flex-control-paging li a.flex-active{
	background:url("/Style Library/Images/slider-bullets.png") -1px 0 no-repeat transparent;
}


.subscriptionText{
	font-size: 16px;
	margin-top: -4px;
	color: #fff;
}
.subscriptionInput{
	font-size:16px;
	float: left;
	width: 100%;
	margin-top:18px;
}
	.subscriptionInput input, .subscriptionInput span{
		padding: 8px 4px;
		width: 100%;
		float: left;
		color:#808285;
	}
	.subscriptionInput span{
		padding:0;	
	}
.subscriptionRegister{
	float:left;
	width:100%;
	margin-top:16px;
}
	.subscriptionRegister input{
		float:left;
		cursor:pointer;
		width:86px;
		padding: 8px 0 9px;
		border: 0;
		font-size: 15px;
		background: #0070b9;
		color: #fff;
	}

.subscribedMessage{
	font-size:16px;
	margin-top:4px;
	color:#00ff00;
	width:100%;
	float:left;
}
	
.subscriptionErrorMessage{
	font-size:16px;
	color:#ff0000;
	margin-top:4px;
	float: left;
	width: 100%;
}
.blue-button input {
	cursor: pointer;
	min-width: 80px;
	padding: 3px 10px 9px;
	border: 0;
	font-size: 15px;
	background: #0070b9;
	color: #fff;
	font-family: "DIN Next LT Arabic";
}

/* ******** added for services/products on home page and inner page ******** */

.cs-style-3 figcaption a{
	padding:1px 0!important;
	font-size:14px!important;
}
.innerPageServiceTitle{
	text-align:left;
}

.categorySolutions ul li span.innerservicePage {
font-size:13px;
line-height:18px;
}

.categorySolutions ul li h4.lblMore{
	font-size: 14px;
	line-height: 0;
	padding-top: 2px;
}

.container .grid figcaption p{
	font-size:13px;
	line-height:18px;
}
.eventsBlock{
	position:relative;
}
.eventsBlock .horizontal-ruler{
	position:absolute;
	top: 59px;
	height:1px;
	right: 35px;
	width: 922px;
	border-top:1px solid #e3e3e3;
}
.owl-buttons{
	margin-bottom:10px;
}

/**Style updated for overriding inline styles**/
.newsDetailbottom div[style] ,.newsDetailbottom p[style],.newsDetailbottom span[style], .newsDetailbottom span font, .newsDetailbottom p font

{
	margin: 0px !important;
	padding: 0px !important;
	font-size: 18px !important;
	font-family: "DIN Next LT Arabic" !important;
	color: #808285 !important;
	direction: ltr !important;
	line-height:28px !important;
}
/** ******************************************** **/