﻿<%@ Page Title="Home Page" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.vb" Inherits="TESTFB._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">

</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
   






<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '662783300504199',
            xfbml: true,
            version: 'v2.1'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>


 
  <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer>
    
  </script>
  <g:plusone></g:plusone>



<div class="fb-like" data-href="https://www.facebook.com/AlElmCo" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>


<a href="https://plus.google.com/103580026757349817984/posts" target="_blank"><img src="google.png" runat="server"/></a>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://apps.twitter.com" data-text="ELM" data-via="emailsharepoint" data-size="large" data-dnt="true">Tweet</a>


<a class="twitter-follow-button"
  href="https://twitter.com/emailsharepoint"
  data-show-count="true"
  data-lang="en">
Follow 
</a>




<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://abc.com">Tweet</a>


<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://elm.sa" data-count="vertical" data-via="#">Tweet</a>


					<iframe style="width: 38px; height: 20px;" 
					data-twttr-rendered="true" 
					title="Twitter Follow Button" 
					class="twitter-follow-button twitter-follow-button" 
					src="http://platform.twitter.com/widgets/follow_button.21f7daa948263c3043bab783473c3475.ar.html#_=1415012491363&amp;id=twitter-widget-0&amp;lang=ar&amp;screen_name=Elm_Co&amp;show_count=false&amp;show_screen_name=false&amp;size=m" 
					allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe>

										<br />					<br />
					<a class="twitter-share-button"
  href="https://twitter.com/share"></a>
  
  
  
  <br /> <br /> <br />
  

  
  <a href="https://twitter.com/elmsharepoint" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elmsharepoint</a>


  <br />
  


  <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/elm" data-via="emailsharepoint" data-size="large">Tweet</a>

  <a href="https://twitter.com/Elm" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @Elm</a>


  <style>.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }</style>
<a href="http://instagram.com/emailsharepoint?ref=badge" class="ig-b- ig-b-48" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>


<br /> <br/>
 <link rel="canonical" href="http://www.elm.sa" />
   <g:plusone></g:plusone>





<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-height="24" data-href="http://elm.sa"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">    gapi.plus.go();</script>


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

</asp:Content>
