<script type="text/javascript">
    $(document).ready(function () {
        selectedTab();
    });
    function GetID(rawURL) {
        window.location = rawURL + "?ncid=" + $(".hdnNewsCategory").val();
    }


    function selectedTab() {
        var categoryText = $(".hdnNewsCategory").val();
        $('a.newsCategory' + categoryText).parent().addClass("selected");
    }
</script>
<%-- //$(".newsCategory").click(function () {
        //var selectedCategory = $(this).text();
        //$(".hdnNewsCategory").val(selectedCategory);
        //alert($(location).attr('href'));
        // PageMethods.bindNewsGallery();
        //evt.preventDefault();

        //alert( $('ul.Newslist a:first').text());
        // });--%>
<script type="text/javascript">
    Sys.WebForms.PageRequestManager.getInstance().add_endRequest(selectedTab);
</script>
<asp:UpdatePanel runat="server" ID="newsUpdatePanel">
    <ContentTemplate>
        <input type="hidden" runat="server" class="hdnNewsCategory" id="hdnNewsCategory" />
        <div class="categoryPage">
            <asp:Label ID="lblNoNewsFound" runat="server"></asp:Label>
            <div class="categorynewsSection">
                <asp:Repeater runat="server" ID="newsGalleryRepeater" OnItemDataBound="newsGalleryRepeater_OnItemDataBound">
                    <ItemTemplate>
                    <input type="hidden" runat="server" id="hdnNewsCategoryID" value='<%# Eval("ID")%>' />
                        <div class="categoryNewsBlock">
                            <div class="heading">
                                <a runat="server" id="A1" href=<%# Eval("ELMRedirectURL").ToString().Split(',')[0] %>>
                                    <asp:Label runat="server" ID="lblNewsTitle" Text='<%# Eval("Title")%>'></asp:Label>
                                </a>
                            </div>
                            <div class="newsImg">
                        <input runat="server" type="hidden" id="hdnImage" value='<%# Eval("ELMPublishingImage")%>' /> 
                        
                    <%--    <%# Eval("ELMPublishingImage")%> --%>
                          <asp:Image ID="imgNews" ImageUrl='<%# GetImageurl(Eval("ELMPublishingImage")) %>' runat="server" />                       
                     
                              </div>
                            <p>
                                <%# GetDescriptionText(Eval("ELMDescription"))%>
                                <asp:HiddenField ID="hdnMoreURL" runat="server" Value="" />
                                <a runat="server" id="lnkReadMore" href=<%# Eval("ELMRedirectURL").ToString().Split(',')[0] %>>
                                    <asp:Label runat="server" ID="lblReadMore"></asp:Label>
                                </a>
                            </p>
                        </div>
                    </ItemTemplate>
                </asp:Repeater>
                <div class="clr">
                </div>
                <div runat="server" id="divPages" class="pagination">
                    <asp:LinkButton ID="lnkPrevious" runat="server" OnClick="lnkPrevious_Click"><</asp:LinkButton>
                    <asp:DataList ID="RepeaterPaging" runat="server" OnItemCommand="RepeaterPaging_ItemCommand"
                        OnItemDataBound="RepeaterPaging_ItemDataBound" RepeatDirection="Horizontal" RepeatLayout="Flow">
                        <ItemTemplate>
                            <asp:LinkButton ID="Pagingbtn" runat="server" CommandArgument='<%# Eval("PageIndex") %>'
                                CommandName="newpage" Text='<%# Eval("PageText") %> '></asp:LinkButton>
                        </ItemTemplate>
                    </asp:DataList>
                    <asp:LinkButton ID="lnkNext" runat="server" OnClick="lnkNext_Click">></asp:LinkButton>
                </div>
            </div>
        </div>
        
    </ContentTemplate>
</asp:UpdatePanel>
<script type="text/javascript">
    $(document).ready(function () {
        selectedTab();
    });
    function GetID(rawURL) {
        window.location = rawURL + "?ncid=" + $(".hdnNewsCategory").val();
    }


    function selectedTab() {
        var categoryText = $(".hdnNewsCategory").val();
        $('a.newsCategory' + categoryText).parent().addClass("selected");
    }
</script>
<%-- //$(".newsCategory").click(function () {
        //var selectedCategory = $(this).text();
        //$(".hdnNewsCategory").val(selectedCategory);
        //alert($(location).attr('href'));
        // PageMethods.bindNewsGallery();
        //evt.preventDefault();

        //alert( $('ul.Newslist a:first').text());
        // });--%>
<script type="text/javascript">
    Sys.WebForms.PageRequestManager.getInstance().add_endRequest(selectedTab);
</script>
<asp:UpdatePanel runat="server" ID="newsUpdatePanel">
    <ContentTemplate>
        <input type="hidden" runat="server" class="hdnNewsCategory" id="hdnNewsCategory" />
        <div class="categoryPage">
            <asp:Label ID="lblNoNewsFound" runat="server"></asp:Label>
            <div class="categorynewsSection">
                <asp:Repeater runat="server" ID="newsGalleryRepeater" OnItemDataBound="newsGalleryRepeater_OnItemDataBound">
                    <ItemTemplate>
                    <input type="hidden" runat="server" id="hdnNewsCategoryID" value='<%# Eval("ID")%>' />
                        <div class="categoryNewsBlock">
                            <div class="heading">
                                <a runat="server" id="A1" href=<%# Eval("ELMRedirectURL").ToString().Split(',')[0] %>>
                                    <asp:Label runat="server" ID="lblNewsTitle" Text='<%# Eval("Title")%>'></asp:Label>
                                </a>
                            </div>
                            <div class="newsImg">
                        <input runat="server" type="hidden" id="hdnImage" value='<%# Eval("ELMPublishingImage")%>' /> 
                        
                    <%--    <%# Eval("ELMPublishingImage")%> --%>
                          <asp:Image ID="imgNews" ImageUrl='<%# GetImageurl(Eval("ELMPublishingImage")) %>' runat="server" />                       
                     
                              </div>
                            <p>
                                <%# GetDescriptionText(Eval("ELMDescription"))%>
                                <asp:HiddenField ID="hdnMoreURL" runat="server" Value="" />
                                <a runat="server" id="lnkReadMore" href=<%# Eval("ELMRedirectURL").ToString().Split(',')[0] %>>
                                    <asp:Label runat="server" ID="lblReadMore"></asp:Label>
                                </a>
                            </p>
                        </div>
                    </ItemTemplate>
                </asp:Repeater>
                <div class="clr">
                </div>
                <div runat="server" id="divPages" class="pagination">
                    <asp:LinkButton ID="lnkPrevious" runat="server" OnClick="lnkPrevious_Click"><</asp:LinkButton>
                    <asp:DataList ID="RepeaterPaging" runat="server" OnItemCommand="RepeaterPaging_ItemCommand"
                        OnItemDataBound="RepeaterPaging_ItemDataBound" RepeatDirection="Horizontal" RepeatLayout="Flow">
                        <ItemTemplate>
                            <asp:LinkButton ID="Pagingbtn" runat="server" CommandArgument='<%# Eval("PageIndex") %>'
                                CommandName="newpage" Text='<%# Eval("PageText") %> '></asp:LinkButton>
                        </ItemTemplate>
                    </asp:DataList>
                    <asp:LinkButton ID="lnkNext" runat="server" OnClick="lnkNext_Click">></asp:LinkButton>
                </div>
            </div>
        </div>
        
    </ContentTemplate>
</asp:UpdatePanel>
