﻿<%@ Master Language="C#" %>

<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> <%@ Import Namespace="Microsoft.SharePoint" %> <%@ Assembly Name="Microsoft.Web.CommandUI, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/Welcome.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="Menu" src="~/_controltemplates/ELMControls/ELMMegaMenuEN.ascx" %>

<%@ Register TagPrefix="wssuc" TagName="MUISelector" src="~/_controltemplates/MUISelector.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="DesignModeConsole" src="~/_controltemplates/DesignModeConsole.ascx" %>
<%@ Register tagprefix="SPSWC" namespace="Microsoft.SharePoint.Portal.WebControls" assembly="Microsoft.SharePoint.Portal, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="PublishingVariations" TagName="VariationsLabelMenu" src="~/_controltemplates/ELMControls/ELMVariationLabelMenu.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="Social" src="~/_controltemplates/ELMControls/ElmStaticSociaLinks.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="Navigation" src="~/_controltemplates/ELMControls/ElmFooterLinks.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="Subscription" src="~/_controltemplates/ELMControls/ElmSubscription.ascx" %>


<!DOCTYPE html>
<html lang="<%$Resources:wss,language_value%>" dir="<%$Resources:wss,multipages_direction_dir_value%>" runat="server" __expr-val-dir="ltr">
<head runat="server">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
	<meta http-equiv="Expires" content="0" />
	<SharePoint:RobotsMetaTag runat="server" __designer:Preview="" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl00' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<title><asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server" /></title>
	<SharePoint:ULSClientConfig runat="server" __designer:Preview="" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl01' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<script type="text/javascript">var _fV4UI = true;</script>
	<SharePoint:ScriptLink language="javascript" Defer="true" runat="server" __designer:Preview="&lt;script type=&quot;text/javascript&quot;&gt;
// &lt;![CDATA[
document.write('&lt;script type=&quot;text/javascript&quot; src=&quot;/_layouts/1033/init.js?rev=BjQJs0OCQh3Zfydsdw2MYw%3D%3D&quot;&gt;&lt;/' + 'script&gt;');
// ]]&gt;
&lt;/script&gt;
" __designer:Values="&lt;P N='Language' T='javascript' /&gt;&lt;P N='Defer' T='True' /&gt;&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl02' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<SharePoint:CustomJSUrl runat="server" __designer:Preview="" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl03' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<script src="/Style Library/v5/script/v5.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<SharePoint:SoapDiscoveryLink runat="server" __designer:Preview="&lt;link type=&quot;text/xml&quot; rel=&quot;alternate&quot; href=&quot;/_vti_bin/spsdisco.aspx&quot; /&gt;" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl04' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	
	<!-- favicon -->
	<SharePoint:SPShortcutIcon runat="server" IconUrl="/Style Library/v5/i/favicon.ico" __designer:Preview="&lt;link rel=&quot;shortcut icon&quot; href=&quot;/Style Library/v5/i/favicon.ico&quot; type=&quot;image/vnd.microsoft.icon&quot; /&gt;" __designer:Values="&lt;P N='IconUrl' T='/Style Library/v5/i/favicon.ico' /&gt;&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl05' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	
	<SharePoint:CssLink runat="server" Version="4" __designer:Preview="&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/_layouts/1033/styles/Themable/corev4.css&quot;/&gt;
&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/Style%20Library/v5/v5.css&quot;/&gt;
" __designer:Values="&lt;P N='UIVersion' T='4' /&gt;&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl06' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<SharePoint:Theme runat="server" __designer:Preview="" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl07' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	
	<!-- custom style sheets -->
	<SharePoint:CssRegistration name="/Style Library/v5/v5.css" After="corev4.css" runat="server" __designer:Preview="&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/Style%20Library/v5/v5.css&quot;/&gt;
" __designer:Values="&lt;P N='ID' T='ctl08' /&gt;&lt;P N='Name' T='/Style Library/v5/v5.css' /&gt;&lt;P N='After' T='corev4.css' /&gt;&lt;P N='InDesign' T='False' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	
	<SharePoint:SPPageManager runat="server" __designer:Preview="[ SPPageManager &quot;Unnamed10&quot; ]" __designer:Values="&lt;P N='ID' T='ctl09' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server" />
	<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true" __designer:Preview="[ MyLinksRibbon &quot;ctl00_ctl11&quot; ][ InsertMediaRibbonButton &quot;ctl00_ctl12&quot; ][ SpellCheckV4Action &quot;ctl00_ctl13&quot; ]" __designer:Values="&lt;P N='ControlId' T='AdditionalPageHead' /&gt;&lt;P N='AllowMultipleControls' T='True' /&gt;&lt;P N='ID' T='ctl10' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
	<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server" />
	<asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" runat="server" />
</head>

<body class="v4master" onload="if (typeof(_spBodyOnLoadWrapper) != 'undefined') _spBodyOnLoadWrapper();">
<form runat="server" onsubmit="if (typeof(_spFormOnSubmitWrapper) != 'undefined') {return _spFormOnSubmitWrapper();} else {return true;}">
<asp:ScriptManager id="ScriptManager" runat="server" enablepagemethods="false" enablepartialrendering="true" enablescriptglobalization="false" enablescriptlocalization="true" />
<WebPartPages:SPWebPartManager id="m" runat="Server"/>
<SharePoint:SPNoScript runat="server" __designer:Preview="&lt;noscript&gt;&lt;div class='noindex'&gt;You may be trying to access this site from a secured browser on the server. Please enable scripts and reload this page.&lt;/div&gt;&lt;/noscript&gt;" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl14' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>

<!-- ribbon -->
<div id="s4-ribbonrow" class="s4-pr s4-ribbonrowhidetitle">
	
	<!-- trim the ribbon from any user who does not have permission to edit list items -->
	<Sharepoint:SPSecurityTrimmedControl PermissionsString="EditListItems" runat="server" __designer:Preview="&lt;span&gt;
	
		&lt;div id=&quot;s4-ribboncont&quot;&gt;
			&lt;input id=&quot;RibbonContainer_activeTabId&quot; name=&quot;ctl00$ctl16&quot; type=&quot;hidden&quot; value=&quot;&quot;&gt;&lt;/input&gt;&lt;div id='RibbonContainer'&gt;&lt;div class=&quot;ms-cui-ribbon&quot; id=&quot;Ribbon&quot; unselectable=&quot;on&quot; aria-describedby=&quot;ribboninstructions&quot; oncontextmenu=&quot;return false&quot; role=&quot;toolbar&quot;&gt;&lt;span class=&quot;ms-cui-hidden&quot; id=&quot;ribboninstructions&quot; unselectable=&quot;on&quot;&gt;To navigate through the Ribbon, use standard browser navigation keys. To skip between groups, use Ctrl+LEFT or Ctrl+RIGHT. To jump to the first Ribbon tab use Ctrl+[. To jump to the last selected command use Ctrl+]. To activate a command, use Enter.&lt;/span&gt;&lt;div class=&quot;ms-cui-ribbonTopBars&quot; unselectable=&quot;on&quot;&gt;&lt;div class=&quot;ms-cui-topBar1&quot; unselectable=&quot;on&quot; style=&quot;display:none&quot;&gt;&lt;div class=&quot;ms-cui-qat-container&quot; unselectable=&quot;on&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class=&quot;ms-cui-topBar2&quot; unselectable=&quot;on&quot;&gt;&lt;div class=&quot;ms-cui-jewel-container&quot; id=&quot;jewelcontainer&quot; unselectable=&quot;on&quot; style=&quot;display:none&quot;&gt;&lt;/div&gt;&lt;div class=&quot;ms-cui-TabRowLeft ms-siteactionscontainer s4-notdlg&quot; id=&quot;RibbonContainer-TabRowLeft&quot; unselectable=&quot;on&quot;&gt;
					
					&lt;!-- site actions --&gt;
					&lt;span class=&quot;ms-siteactionsmenu&quot; id=&quot;siteactiontd&quot;&gt;
						
								
							&lt;span style=&quot;display:none&quot;&gt;&lt;menu type='ServerMenu' id=&quot;zz1_SiteActionsMenuMain&quot; largeiconmode=&quot;true&quot;&gt;&lt;ie:menuitem id=&quot;ctl00_SiteActionsMenuMain_ctl00_MenuItem_TakeOffline&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/connecttospworkspace32.png&quot; onMenuClick=&quot;javaScript:CoreInvoke('TakeOfflineToClientReal',1, 53, 'http:\u002f\u002fsharepointserve:7000', -1, -1, '', '')&quot; hidden=&quot;TakeOfflineDisabled(1, 53, -1, -1)&quot; menuGroupId=&quot;100&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz2_MenuItem_CreateDocLib&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/NewDocLibHH.png&quot; onMenuClick=&quot;if (LaunchCreateHandler('DocLib')) { GoToPage('\u002f_layouts/new.aspx?FeatureId={00bfea71-e717-4e80-aa17-d0c71b360101}&amp;amp;ListTemplate=101') }&quot; menuGroupId=&quot;200&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz3_MenuItem_CreateSite&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/newweb32.png&quot; onMenuClick=&quot;if (LaunchCreateHandler('Site')) { STSNavigate('\u002f_layouts/newsbweb.aspx') }&quot; menuGroupId=&quot;200&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz4_MenuItem_Create&quot; type=&quot;option&quot; onMenuClick=&quot;if (LaunchCreateHandler('All')) { STSNavigate('\u002f_layouts/create.aspx') }&quot; menuGroupId=&quot;200&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz5_MenuItem_ViewAllSiteContents&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/allcontent32.png&quot; onMenuClick=&quot;STSNavigate2(event,'/_layouts/viewlsts.aspx');&quot; menuGroupId=&quot;300&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz6_MenuItem_EditSite&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/SharePointDesigner32.png&quot; onMenuClick=&quot;EditInSPD('\u002f',true);&quot; menuGroupId=&quot;300&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz7_MenuItem_SitePermissions&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/Permissions32.png&quot; onMenuClick=&quot;STSNavigate2(event,'/_layouts/user.aspx');&quot; menuGroupId=&quot;300&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz8_MenuItem_Settings&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/settingsIcon.png&quot; onMenuClick=&quot;STSNavigate2(event,'/_layouts/settings.aspx');&quot; menuGroupId=&quot;300&quot;&gt;&lt;/ie:menuitem&gt;
&lt;ie:menuitem id=&quot;zz9_MenuItem_CommitNewUI&quot; type=&quot;option&quot; iconSrc=&quot;/_layouts/images/visualupgradehh.png&quot; onMenuClick=&quot;GoToPage('\u002f_layouts/prjsetng.aspx')&quot; menuGroupId=&quot;300&quot;&gt;&lt;/ie:menuitem&gt;
&lt;/menu&gt;&lt;/span&gt;&lt;span  id=&quot;zz10_SiteActionsMenu_t&quot; class=&quot;ms-siteactionsmenuinner&quot; title=&quot;Open Menu&quot; onmouseover=&quot;MMU_PopMenuIfShowing(this);MMU_EcbTableMouseOverOut(this, true)&quot; hoveractive=&quot;ms-siteactionsmenuhover&quot; hoverinactive=&quot;ms-siteactionsmenuinner&quot; onclick=&quot; CoreInvoke('MMU_Open',byid(''), MMU_GetMenuFromClientId('zz10_SiteActionsMenu'),event,false, null, 0); return false;&quot; foa=&quot;MMU_GetMenuFromClientId('zz10_SiteActionsMenu')&quot; oncontextmenu=&quot;ClkElmt(this); return false;&quot; style=&quot;white-space:nowrap&quot;&gt;&lt;a class=&quot;ms-menu-a&quot; id=&quot;zz10_SiteActionsMenu&quot; href=&quot;javascript:;&quot; style=&quot;cursor:pointer;white-space:nowrap;&quot; onfocus=&quot;MMU_EcbLinkOnFocusBlur(byid(''), this, true);&quot; onkeydown=&quot;MMU_EcbLinkOnKeyDown(byid(''), MMU_GetMenuFromClientId('zz10_SiteActionsMenu'), event);&quot; onclick=&quot; CoreInvoke('MMU_Open',byid(''), MMU_GetMenuFromClientId('zz10_SiteActionsMenu'),event,false, null, 0); return false;&quot; oncontextmenu=&quot;ClkElmt(this); return false;&quot; menutokenvalues=&quot;MENUCLIENTID=zz10_SiteActionsMenu,TEMPLATECLIENTID=zz1_SiteActionsMenuMain&quot; serverclientid=&quot;zz10_SiteActionsMenu&quot;&gt;&lt;span&gt;Site Actions&lt;/span&gt;&lt;img src=&quot;/_layouts/images/blank.gif&quot; style='border:0px' alt=&quot;Use SHIFT+ENTER to open the menu (new window).&quot;/&gt;&lt;/a&gt;&lt;span style=&quot;height:3px;width:5px;position:relative;display:inline-block;overflow:hidden;&quot; class=&quot;s4-clust ms-viewselector-arrow&quot;&gt;&lt;img src=&quot;/_layouts/images/fgimg.png&quot; alt=&quot;Open Menu&quot; style=&quot;border-width:0px;position:absolute;left:-0px !important;top:-491px !important;&quot; /&gt;&lt;/span&gt;&lt;/span&gt;
					&lt;/span&gt;
					
					&lt;!-- page action button --&gt;
					
					
				&lt;/div&gt;&lt;ul class=&quot;ms-cui-tts&quot; unselectable=&quot;on&quot; role=&quot;tablist&quot;&gt;&lt;li class=&quot;ms-cui-tt ms-browseTab ms-cui-tt-s&quot; id=&quot;Ribbon.Read-title&quot; unselectable=&quot;on&quot; role=&quot;tab&quot;&gt;&lt;a class=&quot;ms-cui-tt-a&quot; unselectable=&quot;on&quot; href=&quot;javascript:;&quot; onclick=&quot;_ribbonStartInit('Ribbon.Read',false, event);&quot; unselectable=&quot;on&quot; title=&quot;Browse&quot; onkeypress=&quot;if(event != null &amp;&amp; event.keyCode == 13){ if(typeof(_ribbon) != 'undefined') _ribbon.launchedByKeyboard = true; _ribbonStartInit('Ribbon.Read',false, event);  }&quot;&gt;&lt;span class=&quot;ms-cui-tt-span&quot; unselectable=&quot;on&quot;&gt;Browse&lt;/span&gt;&lt;span class=&quot;ms-cui-hidden&quot; unselectable=&quot;on&quot;&gt;Tab 1 of 1.&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;div class=&quot;ms-cui-TabRowRight s4-trc-container s4-notdlg&quot; id=&quot;RibbonContainer-TabRowRight&quot; unselectable=&quot;on&quot;&gt;
					

					&lt;a href=&quot;#&quot; tabindex=&quot;-1&quot; style=&quot;display:none&quot;&gt;&lt;/a&gt;
					&lt;a href=&quot;#&quot; tabindex=&quot;-1&quot; style=&quot;display:none&quot;&gt;&lt;/a&gt;
					&lt;div class=&quot;s4-trc-container-menu&quot;&gt;
						&lt;div&gt;
							
							
						&lt;/div&gt;
					&lt;/div&gt;
					

					&lt;span&gt;
						&lt;span class=&quot;s4-devdashboard&quot;&gt;
							&lt;span style=&quot;height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;&quot; class=&quot;s4-clust&quot;&gt;&lt;a id=&quot;ctl00_DeveloperDashboardLauncher&quot; Href=&quot;javascript:ToggleDeveloperDashboard()&quot; style=&quot;display:inline-block;height:16px;width:16px;&quot;&gt;&lt;img src=&quot;/_layouts/images/fgimg.png&quot; style=&quot;border:0;position:absolute;left:-0px !important;top:-222px !important;&quot; /&gt;&lt;/a&gt;&lt;/span&gt;
						&lt;/span&gt;
					&lt;/span&gt;
				&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
//&lt;![CDATA[
    
    var _ribbon = new Object();
    _ribbon.initialTabId = 'Ribbon.Read';
    _ribbon.buildMinimized = true;
    _ribbon.initStarted = false;
    _ribbon.initialTabSelectedByUser = false;
    _ribbon.launchedByKeyboard = false;

    function _ribbonInitFunc1()
    {
        try
        {
            var temp = new CUI.RibbonBuildOptions();
        }
        catch(e)
        {
            return;
        }

        var options = new CUI.RibbonBuildOptions();
        options.lazyTabInit = true;
        options.shallowTabs = true;
        options.lazyMenuInit = true;
        options.attachToDOM = false;
        options.initialScalingIndex = 0;
        options.validateServerRendering = false;
        options.showQATId = '';
        options.showJewelId = '';
        options.minimized = _ribbon.buildMinimized;
        options.shownTabs = {'Ribbon.Read':true};;
        options.shownContextualGroups = null;
        options.initiallyVisibleContextualGroups = null;
        options.normalizedContextualGroups = null;
        options.trimmedIds = null;
        options.enabledVisibilityContexts = null;
        options.fixedPositioningEnabled = false;
        options.clientID = 'RibbonContainer';
        options.trimEmptyGroups = true;
        options.dataExtensions = null;
        options.scalingHint = '-2142326528';
        options.initialTabSelectedByUser = _ribbon.initialTabSelectedByUser;
        options.launchedByKeyboard = _ribbon.launchedByKeyboard;

        try
        {
            var temp = SP.Ribbon.PageManager.get_instance();
        }
        catch(e)
        {
            return;
        }

        g_builder = new CUI.RibbonBuilder(options, document.getElementById('RibbonContainer'), SP.Ribbon.PageManager.get_instance());
        var dataSource = new CUI.DataSource('\u002f_layouts\u002fcommandui.ashx', '1444569805', '1033');
        g_builder.set_dataSource(dataSource);

        g_builder.buildRibbonAndInitialTab(_ribbon.initialTabId);
    }

    function _ribbonStartInit(initialTabId, buildMinimized, e)
    {
        if (true &amp;&amp; typeof(_ribbonReadyForInit) == 'function' &amp;&amp; !_ribbonReadyForInit())
            return;

        if (e)
        {
            _ribbon.initialTabSelectedByUser = true;
        }

        var firstTabId = null;
        var evt = e || window.event;
        if (evt)
        {
            if (!evt.preventDefault)
                evt.returnValue = false;
            else
                evt.preventDefault();
        }

        if (_ribbon.initStarted)
            return;
        _ribbon.initStarted = true;
        if(typeof(CUI) != 'undefined' &amp;&amp; typeof(CUI.PMetrics) != 'undefined')
            CUI.PMetrics.perfMark(CUI.PMarker.perfCUIRibbonInitStart);
        if (initialTabId)
        {
            firstTabId = _ribbon.initialTabId;
            _ribbon.initialTabId = initialTabId;
        }
        if (typeof(buildMinimized) != 'undefined')
            _ribbon.buildMinimized = buildMinimized;

        if(initialTabId &amp;&amp; initialTabId != &quot;undefined&quot; &amp;&amp; _ribbonOnStartInit)
        {
            _ribbonOnStartInit(_ribbon);
            
            var oldTab = document.getElementById(firstTabId + &quot;-title&quot;);
            if (oldTab)
                oldTab.className = &quot;ms-cui-tt&quot;;

            var newTab = document.getElementById(initialTabId + &quot;-title&quot;);
            if (newTab)
                newTab.className = &quot;ms-cui-tt ms-cui-tt-s&quot;;
        }
        

        var _spRibbonInstantiateByRibbonControl = true;

        function _registerCommonComponents()
        {  
            SP.Ribbon.HelpPageComponent.registerWithPageManager();
            SP.Ribbon.UserInterfacePageComponent.registerWithPageManager();
        }
        ExecuteOrDelayUntilScriptLoaded(_registerCommonComponents, &quot;sp.ribbon.js&quot;);

        
        function _registerCUIEComponent()
        {  
            var instance = SP.Ribbon.CommandUIExtensionPageComponent.get_instance();
            instance.set_dataUrl('\u002f_layouts\u002fcommandui.ashx');
            instance.set_dataLCID('1033');
            instance.set_dataVersion('1444569805');
            SP.Ribbon.CommandUIExtensionPageComponent.registerWithPageManager();
        }
        ExecuteOrDelayUntilScriptLoaded(_registerCUIEComponent, &quot;sp.ribbon.js&quot;);

        var defd;
        try
        {
            defd = typeof(SP.Ribbon.PageManager);
        }
        catch (e)
        {
            defd = &quot;undefined&quot;;
        }
        EnsureScript(&quot;ribbon&quot;, defd, _ribbonInitFunc1);


    }

    function _ribbonKeyboardTitleShortcut(e)
    {
        var evt = e || window.event;
        if (evt)
        {
            var key = (evt.ctrlKey) ? 't' : 'f';
            key += (evt.altKey) ? 't' : 'f';
            key += (evt.shiftKey) ? 't' : 'f';
            try
            {
                key += String.fromCharCode(_processKeyCodes(evt.keyCode));
            }
            catch (error)
            {
                return;
            }

            if(key == 'tff[')
            {
                if(document.selection &amp;&amp; document.selection.type == 'Control')
                {
                    var r = document.selection.createRange();
                    var len = r.length;
                    for (; len &gt; 0; len--)
                    {
                        r.remove(len - 1);
                    }
                    r.select();
                }

                var tabHead = document.getElementById('Ribbon.Read-title');
                if(tabHead)
                {
                    tabHead = tabHead.firstChild.focus();
                }
            }
        }
    }

    if (false)
        _spBodyOnLoadFunctionNames.push(&quot;_ribbonStartInit&quot;);


    function _ribbonOnWindowResizeForHeaderScaling(evt)
    {
        if (_ribbon.initStarted)
            return;
        _ribbonScaleHeader(document.getElementById('RibbonContainer').firstChild.childNodes[1], false);
    }
    if (typeof(_ribbonScaleHeader) == 'function' &amp;&amp; true)
    {        
        _ribbonScaleHeader(document.getElementById('RibbonContainer').firstChild.childNodes[1], false);
        if (window.addEventListener)
            window.addEventListener('resize', _ribbonOnWindowResizeForHeaderScaling, false);
        else if(window.attachEvent)
            window.attachEvent('onresize', _ribbonOnWindowResizeForHeaderScaling);            
    }
    

    if(document.addEventListener)
        document.addEventListener('keydown', _ribbonKeyboardTitleShortcut, false);
    else
        document.attachEvent('onkeydown', _ribbonKeyboardTitleShortcut);
//]]&gt;
&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
//&lt;![CDATA[
var g_commandUIHandlers = {&quot;name&quot;:&quot;CommandHandlers&quot;,&quot;attrs&quot;:{},&quot;children&quot;:[]};
//]]&gt;
&lt;/script&gt;
		&lt;/div&gt;
		
		&lt;!-- publishing console --&gt;
		
			
&lt;span id=&quot;ctl00_SPNavigation_ctl00_publishingConsoleV4_publishingRibbon&quot;&gt;&lt;/span&gt;



		
		
		&lt;!-- browse web parts (when adding new web parts) --&gt;
		&lt;div id=&quot;WebPartAdderUpdatePanelContainer&quot;&gt;
			&lt;div id=&quot;ctl00_WebPartAdderUpdatePanel&quot;&gt;
	
					&lt;span id=&quot;ctl00_WebPartAdder&quot;&gt;&lt;/span&gt;
				
&lt;/div&gt;
		&lt;/div&gt;
		
		
		
	&lt;/span&gt;" __designer:Values="&lt;P N='ID' T='ctl15' /&gt;&lt;P N='Permissions' E='4' /&gt;&lt;P N='PermissionsString' T='EditListItems' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
	
		<div id="s4-ribboncont">
			<SharePoint:SPRibbon runat="server" PlaceholderElementId="RibbonContainer" CssFile="">
				
				<!-- ribbon left -->
				<SharePoint:SPRibbonPeripheralContent runat="server" Location="TabRowLeft" CssClass="ms-siteactionscontainer s4-notdlg">
					
					<!-- site actions -->
					<span class="ms-siteactionsmenu" id="siteactiontd">
						<SharePoint:SiteActions runat="server" accesskey="<%$Resources:wss,tb_SiteActions_AK%>" id="SiteActionsMenuMain" PrefixHtml="" SuffixHtml="" MenuNotVisibleHtml="&amp;nbsp;">
							<CustomTemplate>
								<SharePoint:FeatureMenuTemplate runat="server" FeatureScope="Site" Location="Microsoft.SharePoint.StandardMenu" GroupId="SiteActions" UseShortId="true">
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_EditPage" Text="<%$Resources:wss,siteactions_editpage%>" Description="<%$Resources:wss,siteactions_editpagedescriptionv4%>" ImageUrl="/_layouts/images/ActionsEditPage.png" MenuGroupId="100" Sequence="110" ClientOnClickNavigateUrl="javascript:ChangeLayoutMode(false);" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_TakeOffline" Text="<%$Resources:wss,siteactions_takeoffline%>" Description="<%$Resources:wss,siteactions_takeofflinedescription%>" ImageUrl="/_layouts/images/connecttospworkspace32.png" MenuGroupId="100" Sequence="120" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreatePage" Text="<%$Resources:wss,siteactions_createpage%>" Description="<%$Resources:wss,siteactions_createpagedesc%>" ImageUrl="/_layouts/images/NewContentPageHH.png" MenuGroupId="200" Sequence="210" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('Page')) { OpenCreateWebPageDialog('~site/_layouts/createwebpage.aspx') }" PermissionsString="AddListItems, EditListItems" PermissionMode="All" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreateDocLib" Text="<%$Resources:wss,siteactions_createdoclib%>" Description="<%$Resources:wss,siteactions_createdoclibdesc%>" ImageUrl="/_layouts/images/NewDocLibHH.png" MenuGroupId="200" Sequence="220" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('DocLib')) { GoToPage('~site/_layouts/new.aspx?FeatureId={00bfea71-e717-4e80-aa17-d0c71b360101}&amp;ListTemplate=101') }" PermissionsString="ManageLists" PermissionMode="Any" VisibilityFeatureId="00BFEA71-E717-4E80-AA17-D0C71B360101" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreateSite" Text="<%$Resources:wss,siteactions_createsite%>" Description="<%$Resources:wss,siteactions_createsitedesc%>" ImageUrl="/_layouts/images/newweb32.png" MenuGroupId="200" Sequence="230" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('Site')) { STSNavigate('~site/_layouts/newsbweb.aspx') }" PermissionsString="ManageSubwebs,ViewFormPages" PermissionMode="All" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_Create" Text="<%$Resources:wss,siteactions_create%>" Description="<%$Resources:wss,siteactions_createdesc%>" MenuGroupId="200" Sequence="240" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('All')) { STSNavigate('~site/_layouts/create.aspx') }" PermissionsString="ManageLists, ManageSubwebs" PermissionMode="Any" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_ViewAllSiteContents" Text="<%$Resources:wss,quiklnch_allcontent%>" Description="<%$Resources:wss,siteactions_allcontentdescription%>" ImageUrl="/_layouts/images/allcontent32.png" MenuGroupId="300" Sequence="302" UseShortId="true" ClientOnClickNavigateUrl="~site/_layouts/viewlsts.aspx" PermissionsString="ViewFormPages" PermissionMode="Any" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_EditSite" Text="<%$Resources:wss,siteactions_editsite%>" Description="<%$Resources:wss,siteactions_editsitedescription%>" ImageUrl="/_layouts/images/SharePointDesigner32.png" MenuGroupId="300" Sequence="304" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="EditInSPD('~site/',true);" PermissionsString="AddAndCustomizePages" PermissionMode="Any" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_SitePermissions" Text="<%$Resources:wss,people_sitepermissions%>" Description="<%$Resources:wss,siteactions_sitepermissiondescriptionv4%>" ImageUrl="/_layouts/images/Permissions32.png" MenuGroupId="300" Sequence="310" UseShortId="true" ClientOnClickNavigateUrl="~site/_layouts/user.aspx" PermissionsString="EnumeratePermissions" PermissionMode="Any" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_Settings" Text="<%$Resources:wss,settings_pagetitle%>" Description="<%$Resources:wss,siteactions_sitesettingsdescriptionv4%>" ImageUrl="/_layouts/images/settingsIcon.png" MenuGroupId="300" Sequence="320" UseShortId="true" ClientOnClickNavigateUrl="~site/_layouts/settings.aspx" PermissionsString="EnumeratePermissions,ManageWeb,ManageSubwebs,AddAndCustomizePages,ApplyThemeAndBorder,ManageAlerts,ManageLists,ViewUsageData" PermissionMode="Any" />
									<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CommitNewUI" Text="<%$Resources:wss,siteactions_commitnewui%>" Description="<%$Resources:wss,siteactions_commitnewuidescription%>" ImageUrl="/_layouts/images/visualupgradehh.png" MenuGroupId="300" Sequence="330" UseShortId="true" ClientOnClickScriptContainingPrefixedUrl="GoToPage('~site/_layouts/prjsetng.aspx')" PermissionsString="ManageWeb" PermissionMode="Any" ShowOnlyIfUIVersionConfigurationEnabled="true" />
								</SharePoint:FeatureMenuTemplate>
							</CustomTemplate>
						</SharePoint:SiteActions>
					</span>
					
					<!-- page action button -->
					<SharePoint:PageStateActionButton id="PageStateActionButton" runat="server" Visible="false" />
					
				</SharePoint:SPRibbonPeripheralContent>
				
				<!-- ribbon right (welcome menu) -->
				<SharePoint:SPRibbonPeripheralContent runat="server" Location="TabRowRight" ID="RibbonTabRowRight" CssClass="s4-trc-container s4-notdlg">
					<SharePoint:DelegateControl runat="server" ID="GlobalDelegate0" ControlId="GlobalSiteLink0" />
					<a href="#" tabindex="-1" style="display:none"></a>
					<a href="#" tabindex="-1" style="display:none"></a>
					<div class="s4-trc-container-menu">
						<div>
							<wssuc:Welcome id="IdWelcome" runat="server" EnableViewState="false" />
							<wssuc:MUISelector ID="IdMuiSelector" runat="server" />
						</div>
					</div>
					<SharePoint:DelegateControl ControlId="GlobalSiteLink2" ID="GlobalDelegate2" Scope="Farm" runat="server" />
					<span>
						<span class="s4-devdashboard">
							<Sharepoint:DeveloperDashboardLauncher ID="DeveloperDashboardLauncher" NavigateUrl="javascript:ToggleDeveloperDashboard()" runat="server" ImageUrl="/_layouts/images/fgimg.png" Text="<%$Resources:wss,multipages_launchdevdashalt_text%>" OffsetX="0" OffsetY="222" Height="16" Width="16" />
						</span>
					</span>
				</SharePoint:SPRibbonPeripheralContent>
				
			</SharePoint:SPRibbon>
		</div>
		
		<!-- publishing console -->
		<asp:ContentPlaceHolder ID="SPNavigation" runat="server">
			<SharePoint:DelegateControl runat="server" ControlId="PublishingConsole" Id="PublishingConsoleDelegate"/>
		</asp:ContentPlaceHolder>
		
		<!-- browse web parts (when adding new web parts) -->
		<div id="WebPartAdderUpdatePanelContainer">
			<asp:UpdatePanel ID="WebPartAdderUpdatePanel" UpdateMode="Conditional" ChildrenAsTriggers="false" runat="server">
				<ContentTemplate>
					<WebPartPages:WebPartAdder ID="WebPartAdder" runat="server" />
				</ContentTemplate>
				<Triggers>
					<asp:PostBackTrigger ControlID="WebPartAdder" />
				</Triggers>
			</asp:UpdatePanel>
		</div>
		
		<SharePoint:VisualUpgradePreviewStatus runat="server"/>
		
	</Sharepoint:SPSecurityTrimmedControl>
	
</div>
<!-- /ribbon -->

<!-- scrolling body area -->
<div id="s4-workspace" class="s4-pr s4-widecontentarea">
	<div id="s4-bodyContainer">
		<div id="MSO_ContentDiv" runat="server">
			
			<!-- v5 wrapper -->
			<div id="v5-wrapper">
				
				<header id="v5-header" class="s4-notdlg" role="banner">
					<hgroup>
						
						<!-- notification area -->
						<div id="notificationArea" class="s4-noti"></div>
						
						<!-- site logo -->
						<div id="v5-site-logo" class="s4-titlelogo">
							<SharePoint:SPLinkButton runat="server" NavigateUrl="~sitecollection/" id="onetidProjectPropertyTitleGraphic" __designer:Preview="&lt;a id=&quot;ctl00_onetidProjectPropertyTitleGraphic&quot; href=&quot;/&quot;&gt;
								&lt;img id=&quot;ctl00_onetidHeadbnnr2&quot; name=&quot;onetidHeadbnnr0&quot; Src=&quot;/_layouts/images/siteIcon.png&quot; alt=&quot;ELM&quot; style=&quot;border-width:0px;&quot; /&gt;
							&lt;/a&gt;" __designer:Values="&lt;P N='NavigateUrl' T='~sitecollection/' /&gt;&lt;P N='PermissionsString' T='EmptyMask' /&gt;&lt;P N='ID' T='onetidProjectPropertyTitleGraphic' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
								<SharePoint:SiteLogoImage name="onetidHeadbnnr0" id="onetidHeadbnnr2" LogoImageUrl="/_layouts/images/siteIcon.png" runat="server"/>
							</SharePoint:SPLinkButton>
						</div>
						
						<!-- site title -->
						<div style="visibility:hidden; display:none;">
						<h1 id="v5-site-title" >
							<SharePoint:SPLinkButton NavigateUrl="~sitecollection/" runat="server" __designer:Preview="&lt;a href=&quot;/&quot;&gt;
								The &amp;ldquo;v5&amp;rdquo; Master Page
							&lt;/a&gt;" __designer:Values="&lt;P N='NavigateUrl' T='~sitecollection/' /&gt;&lt;P N='PermissionsString' T='EmptyMask' /&gt;&lt;P N='ID' T='ctl22' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
								The &ldquo;v5&rdquo; Master Page
							</SharePoint:SPLinkButton>
						</h1>
						
						<!-- site description -->
						<div id="v5-site-description">
							The HTML5 master page for SharePoint 2010
						</div>
						</div>
					</hgroup>
					<div id="v5-tools">
						<div id="v5-social">
							
							<!-- like it / tagging -->
							<SharePoint:DelegateControl ControlId="GlobalSiteLink3-mini" Scope="Farm" runat="server" __designer:Preview="" __designer:Values="&lt;P N='ControlId' T='GlobalSiteLink3-mini' /&gt;&lt;P N='Scope' T='Farm' /&gt;&lt;P N='ID' T='ctl23' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
							
						</div>
						<div class="topLinks">
							<PublishingVariations:VariationsLabelMenu id="variationLabelMenu" runat="server" __designer:Preview="&lt;span __designer:NonVisual=&quot;true&quot;&gt;&lt;table cellpadding=4 cellspacing=0 style=&quot;font:messagebox;color:buttontext;background-color:buttonface;border: solid 1px;border-top-color:buttonhighlight;border-left-color:buttonhighlight;border-bottom-color:buttonshadow;border-right-color:buttonshadow&quot;&gt;
              &lt;tr&gt;&lt;td nowrap&gt;&lt;span style=&quot;font-weight:bold&quot;&gt;VariationDataSource&lt;/span&gt; - LabelMenuDataSource&lt;/td&gt;&lt;/tr&gt;
              &lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;
            &lt;/table&gt;&lt;/span&gt;

    &lt;a href=&quot;Databound&quot;&gt;
    Databound&lt;/a&gt; 
   | 
    &lt;a href=&quot;Databound&quot;&gt;
    Databound&lt;/a&gt; 
   | 
    &lt;a href=&quot;Databound&quot;&gt;
    Databound&lt;/a&gt; 
   | 
    &lt;a href=&quot;Databound&quot;&gt;
    Databound&lt;/a&gt; 
   | 
    &lt;a href=&quot;Databound&quot;&gt;
    Databound&lt;/a&gt; 
  
" __designer:Values="&lt;P N='ID' ID='1' T='variationLabelMenu' /&gt;&lt;P N='TemplateControl' R='0' /&gt;"></PublishingVariations:VariationsLabelMenu>
							<a href="/ar/ContactUs">Contact Us</a>
						</div>
										
						<div id="v5-search" class="searchBox">
							
							<!-- search -->
							<SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox" Version="4" __designer:Preview="&lt;div id=&quot;SRSB&quot;&gt; &lt;div id=&quot;ctl00_ctl26&quot;&gt;
	&lt;input name=&quot;ctl00$ctl26$ctl00&quot; type=&quot;hidden&quot; value=&quot;http://sharepointserve:7000&quot; /&gt;&lt;table class=&quot;ms-sbtable ms-sbtable-ex s4-search&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot;&gt;
		&lt;tr class=&quot;ms-sbrow&quot;&gt;
			&lt;td class=&quot;ms-sbcell&quot;&gt;&lt;input name=&quot;ctl00$ctl26$InputKeywords&quot; type=&quot;text&quot; maxlength=&quot;200&quot; id=&quot;ctl00_ctl26_InputKeywords&quot; accesskey=&quot;S&quot; title=&quot;Search...&quot; class=&quot;ms-sbplain&quot; alt=&quot;Search...&quot; onkeypress=&quot;javascript: return OSBEK(event);&quot; style=&quot;width:170px;&quot; /&gt;&lt;/td&gt;&lt;td class=&quot;ms-sbgo ms-sbcell&quot;&gt;&lt;a id=&quot;ctl00_ctl26_go&quot; title=&quot;Search&quot;&gt;&lt;img title=&quot;Search&quot; onmouseover=&quot;this.src='\u002f_layouts\u002fimages\u002fgosearchhover15.png'&quot; onmouseout=&quot;this.src='\u002f_layouts\u002fimages\u002fgosearch15.png'&quot; class=&quot;srch-gosearchimg&quot; alt=&quot;Search&quot; src=&quot;/_layouts/images/gosearch15.png&quot; style=&quot;border-width:0px;&quot; /&gt;&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot;ms-sbLastcell&quot;&gt;&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/table&gt;
&lt;/div&gt;&lt;/div&gt;" __designer:Values="&lt;P N='ControlId' T='SmallSearchInputBox' /&gt;&lt;P N='Version' T='4' /&gt;&lt;P N='ID' T='ctl25' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
							
						</div>
						
						<div class="topSocialLinks">
						
						<wssuc:Social id="ElmHeaderSocial" runat="server" EnableViewState="false" __designer:Preview="
        &lt;ul&gt;
    
        &lt;li&gt;&lt;a target=&quot;_blank&quot; href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a target=&quot;_blank&quot; href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a target=&quot;_blank&quot; href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a target=&quot;_blank&quot; href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a target=&quot;_blank&quot; href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;/ul&gt;
    
" __designer:Values="&lt;P N='ID' ID='1' T='ElmHeaderSocial' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='TemplateControl' R='0' /&gt;">
						</wssuc:Social >
						<span class="followUs" >?????? ??? </span>					
						</div>
						
					</div>
					<nav id="v5-global-nav" role="navigation">
											<wssuc:Menu id="ElmMenu" runat="server" EnableViewState="false" __designer:Preview="

&lt;link rel=&quot;stylesheet&quot; href=&quot;/_layouts/ELM/MegaMenu/megamenu.css&quot; /&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;/_layouts/ELM/MegaMenu/megamenu_plugins.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;/_layouts/ELM/MegaMenu/megamenu.js&quot;&gt;&lt;/script&gt;

&lt;script type=&quot;text/javascript&quot;&gt;
    $(document).ready(function ($) {
        $('.megamenu').megaMenuCompleteSet({
            menu_speed_show: 100, // Time (in milliseconds) to show a drop down
            menu_speed_hide: 100, // Time (in milliseconds) to hide a drop down
            menu_speed_delay: 100, // Time (in milliseconds) before showing a drop down
            menu_effect: 'hover_fade', // Drop down effect, choose between 'hover_fade', 'hover_slide', etc.
            menu_click_outside: 1, // Clicks outside the drop down close it (1 = true, 0 = false)
            menu_show_onload: 0, // Drop down to show on page load (type the number of the drop down, 0 for none)
            menu_responsive: 1 // 1 = Responsive, 0 = Not responsive
        });
    });
&lt;/script&gt;




&lt;div class=&quot;menu-container&quot;&gt;
	        &lt;div id=&quot;ElmMenu_megaMenuDiv&quot; class=&quot;wrapper&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
" __designer:Values="&lt;P N='ID' ID='1' T='ElmMenu' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='TemplateControl' R='0' /&gt;">
			</wssuc:Menu>
			<div  style="visibility:hidden; display:none;" > 
						<!-- global (top) navigation -->
						<asp:ContentPlaceHolder id="PlaceHolderTopNavBar" runat="server">
							<asp:ContentPlaceHolder id="PlaceHolderHorizontalNav" runat="server">
								<SharePoint:AspMenu ID="TopNavigationMenuV4" Runat="server" EnableViewState="false" DataSourceID="globalNavDS" AccessKey="<%$Resources:wss,navigation_accesskey%>" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Horizontal" StaticDisplayLevels="1" MaximumDynamicDisplayLevels="0" SkipLinkText="" CssClass="s4-tn" __designer:Preview="
                &lt;table cellpadding=4 cellspacing=0 style=&quot;font-family:Tahoma;font-size:8pt;color:buttontext;background-color:buttonface;border: solid 1px;border-top-color:buttonhighlight;border-left-color:buttonhighlight;border-bottom-color:buttonshadow;border-right-color:buttonshadow&quot;&gt;
                  &lt;tr&gt;&lt;td&gt;&lt;span style=&quot;font-weight:bold&quot;&gt;Menu&lt;/span&gt; - TopNavigationMenuV4&lt;/td&gt;&lt;/tr&gt;
                  &lt;tr&gt;&lt;td&gt;Error parsing control: The DataSourceID of 'TopNavigationMenuV4' must be the ID of a control of type IHierarchicalDataSource.  A control with ID 'globalNavDS' could not be found.&lt;/td&gt;&lt;/tr&gt;
                &lt;/table&gt;
             " __designer:Values="&lt;P N='ID' T='TopNavigationMenuV4' /&gt;&lt;P N='UseSimpleRendering' T='True' /&gt;&lt;P N='MaximumDynamicDisplayLevels' T='0' /&gt;&lt;P N='Orientation' E='0' /&gt;&lt;P N='SkipLinkText' R='-1' /&gt;&lt;P N='DataSourceID' T='globalNavDS' /&gt;&lt;P N='AccessKey' Bound='True' T='Resources:wss,navigation_accesskey' /&gt;&lt;P N='CssClass' T='s4-tn' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;" __designer:Templates="&lt;Group Name=&quot;Item Templates&quot;&gt;&lt;Template Name=&quot;StaticItemTemplate&quot; Flags=&quot;D&quot; Content=&quot;&quot; /&gt;&lt;Template Name=&quot;DynamicItemTemplate&quot; Flags=&quot;D&quot; Content=&quot;&quot; /&gt;&lt;/Group&gt;"/>
								<PublishingNavigation:PortalSiteMapDataSource ID="globalNavDS" SiteMapProvider="CombinedNavSiteMapProvider" ShowStartingNode="false" StartFromCurrentNode="True" runat="server"/>
							</asp:ContentPlaceHolder>
						</asp:ContentPlaceHolder>
			</div>			
					</nav>
					
					<!-- yellow page status bar -->
					<div id="s4-statusbarcontainer">
						<div id="pageStatusBar" class="s4-status-s1"></div>
					</div>
					
				</header>
				
				
				<div id="v5-page">
					<div id="v5-page-column-sidebar" class="s4-notdlg" role="complementary">
						
						<!-- current (sidebar) navigation -->
						<div id="v5-current-nav">
							<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarDataSource" runat="server" />
							<asp:ContentPlaceHolder id="PlaceHolderCalendarNavigator" runat="server" />
							<asp:ContentPlaceHolder id="PlaceHolderLeftActions" runat="server" />
							<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarTop" runat="server" />
							<asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" runat="server">
								<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchTop" runat="server" />
								<Sharepoint:SPNavigationManager id="QuickLaunchNavigationManager" runat="server" QuickLaunchControlId="QuickLaunchMenu" ContainedControl="QuickLaunch" EnableViewState="false" CssClass="ms-quicklaunch-navmgr" __designer:Preview="&lt;Regions&gt;&lt;Region Name=&quot;0&quot; Editable=&quot;True&quot; Content=&quot;&amp;#xD;&amp;#xA;									&amp;lt;SharePoint:DelegateControl runat=&amp;quot;server&amp;quot; ControlId=&amp;quot;QuickLaunchDataSource&amp;quot; __designer:Preview=&amp;quot;&amp;amp;lt;span style=&amp;amp;quot;display:none&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;table cellpadding=4 cellspacing=0 style=&amp;amp;quot;font:messagebox;color:buttontext;background-color:buttonface;border: solid 1px;border-top-color:buttonhighlight;border-left-color:buttonhighlight;border-bottom-color:buttonshadow;border-right-color:buttonshadow&amp;amp;quot;&amp;amp;gt;&amp;#xD;&amp;#xA;              &amp;amp;lt;tr&amp;amp;gt;&amp;amp;lt;td nowrap&amp;amp;gt;&amp;amp;lt;span style=&amp;amp;quot;font-weight:bold&amp;amp;quot;&amp;amp;gt;PortalSiteMapDataSourceSwitch&amp;amp;lt;/span&amp;amp;gt; - QuickLaunchSiteMap&amp;amp;lt;/td&amp;amp;gt;&amp;amp;lt;/tr&amp;amp;gt;&amp;#xD;&amp;#xA;              &amp;amp;lt;tr&amp;amp;gt;&amp;amp;lt;td&amp;amp;gt;&amp;amp;lt;/td&amp;amp;gt;&amp;amp;lt;/tr&amp;amp;gt;&amp;#xD;&amp;#xA;            &amp;amp;lt;/table&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;quot; __designer:Values=&amp;quot;&amp;amp;lt;P N='ControlId' T='QuickLaunchDataSource' /&amp;amp;gt;&amp;amp;lt;P N='ID' T='ctl35' /&amp;amp;gt;&amp;amp;lt;P N='Page' ID='1' /&amp;amp;gt;&amp;amp;lt;P N='TemplateControl' ID='2' /&amp;amp;gt;&amp;amp;lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&amp;amp;gt;&amp;quot;&amp;gt;&amp;#xD;&amp;#xA;										&amp;lt;Template_Controls&amp;gt;&amp;#xD;&amp;#xA;											&amp;lt;asp:SiteMapDataSource SiteMapProvider=&amp;quot;SPNavigationProvider&amp;quot; ShowStartingNode=&amp;quot;False&amp;quot; id=&amp;quot;QuickLaunchSiteMap&amp;quot; StartingNodeUrl=&amp;quot;sid:1025&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;										&amp;lt;/Template_Controls&amp;gt;&amp;#xD;&amp;#xA;									&amp;lt;/SharePoint:DelegateControl&amp;gt;&amp;#xD;&amp;#xA;									&amp;lt;SharePoint:AspMenu id=&amp;quot;V4QuickLaunchMenu&amp;quot; runat=&amp;quot;server&amp;quot; EnableViewState=&amp;quot;false&amp;quot; DataSourceId=&amp;quot;QuickLaunchSiteMap&amp;quot; UseSimpleRendering=&amp;quot;true&amp;quot; UseSeparateCss=&amp;quot;false&amp;quot; Orientation=&amp;quot;Vertical&amp;quot; StaticDisplayLevels=&amp;quot;2&amp;quot; MaximumDynamicDisplayLevels=&amp;quot;0&amp;quot; SkipLinkText=&amp;quot;&amp;quot; CssClass=&amp;quot;s4-ql&amp;quot; __designer:Preview=&amp;quot;&amp;amp;lt;link rel=&amp;amp;quot;stylesheet&amp;amp;quot; type=&amp;amp;quot;text/css&amp;amp;quot; href=&amp;amp;quot;/_layouts/1033/styles/menu-21.css&amp;amp;quot;/&amp;amp;gt;&amp;#xA;&amp;amp;lt;div id=&amp;amp;quot;zz16_V4QuickLaunchMenu&amp;amp;quot; class=&amp;amp;quot;s4-ql&amp;amp;quot;&amp;amp;gt;&amp;#xD;&amp;#xA;	&amp;amp;lt;div class=&amp;amp;quot;menu vertical menu-vertical&amp;amp;quot;&amp;amp;gt;&amp;#xD;&amp;#xA;		&amp;amp;lt;ul class=&amp;amp;quot;root static&amp;amp;quot;&amp;amp;gt;&amp;#xD;&amp;#xA;			&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/_layouts/viewlsts.aspx?BaseType=0&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;Lists&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;ul class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;#xD;&amp;#xA;				&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/eService/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;eServiceList&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/NewsCategory/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;NewsCategory&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/News/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;News&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/ProjectSolutions/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;ProjectSolutions&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/SocialMedia/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;SocialMedia&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/SubService/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;SubService&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/TwitterAccounts/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;TwitterAccount&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/bannerItems/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;BannerItems&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/ContactFormRecord/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt; ContactFormRecord&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/NavigationLinks/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;NavigationLinks&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/CareerContactForm/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;CareerContactForm&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/Lists/Subscription/AllItems.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;Subscription&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;#xD;&amp;#xA;			&amp;amp;lt;/ul&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/ar/Pages/default.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;Arabic&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/EN/Pages/default.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;English&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;amp;lt;li class=&amp;amp;quot;static&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;a class=&amp;amp;quot;static menu-item&amp;amp;quot; href=&amp;amp;quot;/PressReleases/Pages/default.aspx&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;additional-background&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;span class=&amp;amp;quot;menu-item-text&amp;amp;quot;&amp;amp;gt;Press Releases&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/span&amp;amp;gt;&amp;amp;lt;/a&amp;amp;gt;&amp;amp;lt;/li&amp;amp;gt;&amp;#xD;&amp;#xA;		&amp;amp;lt;/ul&amp;amp;gt;&amp;#xD;&amp;#xA;	&amp;amp;lt;/div&amp;amp;gt;&amp;#xD;&amp;#xA;&amp;amp;lt;/div&amp;amp;gt;&amp;quot; __designer:Values=&amp;quot;&amp;amp;lt;P N='ID' T='V4QuickLaunchMenu' /&amp;amp;gt;&amp;amp;lt;P N='UseSimpleRendering' T='True' /&amp;amp;gt;&amp;amp;lt;P N='MaximumDynamicDisplayLevels' T='0' /&amp;amp;gt;&amp;amp;lt;P N='SkipLinkText' R='-1' /&amp;amp;gt;&amp;amp;lt;P N='StaticDisplayLevels' T='2' /&amp;amp;gt;&amp;amp;lt;P N='DataSourceID' T='QuickLaunchSiteMap' /&amp;amp;gt;&amp;amp;lt;P N='CssClass' T='s4-ql' /&amp;amp;gt;&amp;amp;lt;P N='EnableViewState' T='False' /&amp;amp;gt;&amp;amp;lt;P N='Page' ID='1' /&amp;amp;gt;&amp;amp;lt;P N='TemplateControl' ID='2' /&amp;amp;gt;&amp;amp;lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&amp;amp;gt;&amp;quot; __designer:Templates=&amp;quot;&amp;amp;lt;Group Name=&amp;amp;quot;Item Templates&amp;amp;quot;&amp;amp;gt;&amp;amp;lt;Template Name=&amp;amp;quot;StaticItemTemplate&amp;amp;quot; Flags=&amp;amp;quot;D&amp;amp;quot; Content=&amp;amp;quot;&amp;amp;quot; /&amp;amp;gt;&amp;amp;lt;Template Name=&amp;amp;quot;DynamicItemTemplate&amp;amp;quot; Flags=&amp;amp;quot;D&amp;amp;quot; Content=&amp;amp;quot;&amp;amp;quot; /&amp;amp;gt;&amp;amp;lt;/Group&amp;amp;gt;&amp;quot;/&amp;gt;&amp;#xD;&amp;#xA;								&quot; /&gt;&lt;/Regions&gt;&lt;div style=&quot;;&quot; class=&quot;ms-quicklaunch-navmgr&quot; _designerRegion=0&gt;&lt;/div&gt;" __designer:Values="&lt;P N='ID' T='QuickLaunchNavigationManager' /&gt;&lt;P N='QuickLaunchControlId' T='QuickLaunchMenu' /&gt;&lt;P N='ContainedControl' T='QuickLaunch' /&gt;&lt;P N='CssClass' T='ms-quicklaunch-navmgr' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
									<SharePoint:DelegateControl runat="server" ControlId="QuickLaunchDataSource">
										<Template_Controls>
											<asp:SiteMapDataSource SiteMapProvider="SPNavigationProvider" ShowStartingNode="False" id="QuickLaunchSiteMap" StartingNodeUrl="sid:1025" runat="server" />
										</Template_Controls>
									</SharePoint:DelegateControl>
									<SharePoint:AspMenu id="V4QuickLaunchMenu" runat="server" EnableViewState="false" DataSourceId="QuickLaunchSiteMap" UseSimpleRendering="true" UseSeparateCss="false" Orientation="Vertical" StaticDisplayLevels="2" MaximumDynamicDisplayLevels="0" SkipLinkText="" CssClass="s4-ql" />
								</Sharepoint:SPNavigationManager>
								<Sharepoint:SPNavigationManager id="TreeViewNavigationManagerV4" runat="server" ContainedControl="TreeView" CssClass="s4-treeView" __designer:Preview="&lt;div display=&quot;none&quot;&gt;&lt;/div&gt;" __designer:Values="&lt;P N='ID' T='TreeViewNavigationManagerV4' /&gt;&lt;P N='ContainedControl' T='TreeView' /&gt;&lt;P N='CssClass' T='s4-treeView' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
									<SharePoint:SPLinkButton runat="server" NavigateUrl="~site/_layouts/viewlsts.aspx" id="idNavLinkSiteHierarchyV4" Text="<%$Resources:wss,treeview_header%>" accesskey="<%$Resources:wss,quiklnch_allcontent_AK%>" CssClass="s4-qlheader" />
									<SharePoint:DelegateControl runat="server" ControlId="TreeViewAndDataSource">
										<Template_Controls>
											<SharePoint:SPHierarchyDataSourceControl runat="server" id="TreeViewDataSourceV4" RootContextObject="Web" IncludeDiscussionFolders="true" />
											<SharePoint:SPRememberScroll runat="server" id="TreeViewRememberScrollV4" onscroll="javascript:_spRecordScrollPositions(this);" style="overflow: auto;height: 400px;width: 155px;">
												<Sharepoint:SPTreeView id="WebTreeViewV4" runat="server" ShowLines="false" DataSourceId="TreeViewDataSourceV4" ExpandDepth="0" SelectedNodeStyle-CssClass="ms-tvselected" NodeStyle-CssClass="ms-navitem" SkipLinkText="" NodeIndent="12" ExpandImageUrl="/_layouts/images/tvclosed.png" ExpandImageUrlRtl="/_layouts/images/tvclosedrtl.png" CollapseImageUrl="/_layouts/images/tvopen.png" CollapseImageUrlRtl="/_layouts/images/tvopenrtl.png" NoExpandImageUrl="/_layouts/images/tvblank.gif" />
											</Sharepoint:SPRememberScroll>
										</Template_Controls>
									</SharePoint:DelegateControl>
								</Sharepoint:SPNavigationManager>
								<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchBottom" runat="server" />
							</asp:ContentPlaceHolder>
						</div>
						
						<!-- additional placeholder for sidebar content -->
						<div id="v5-sidebar-content">
							<asp:ContentPlaceHolder id="PlaceHolderSidebar" runat="server" />
						</div>
						
					</div>
					<div id="v5-page-column-main" role="main">
						
						<!-- page title -->
						<h2 id="v5-page-title" class="s4-notdlg">
							<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server" />
						</h2>
						
						<!-- page content -->
						<div id="v5-page-content">
							<asp:ContentPlaceHolder id="PlaceHolderMain" runat="server" />
						</div>
						
					</div>
				</div>
				<footer id="v5-footer" class="s4-notdlg footer-container" role="contentinfo">
					  <div class="wrapper">
<wssuc:Navigation id="ELMFooterNavigation" runat="server" EnableViewState="false" __designer:Preview="
        &lt;div class=&quot;footerTopRight&quot;&gt;
            &lt;h6&gt;
                &lt;span id=&quot;ELMFooterNavigation_repFooterRight_ctl00_lblFooterRight&quot;&gt;&lt;/span&gt;&lt;/h6&gt;
            &lt;ul&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;/ul&gt; &lt;/div&gt;
    

        &lt;div class=&quot;footerTopCenter&quot;&gt;
            &lt;h6&gt;
                &lt;span id=&quot;ELMFooterNavigation_repFooterCenter_ctl00_lblFooterCenter&quot;&gt;&lt;/span&gt;&lt;/h6&gt;
            &lt;ul&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;li&gt;&lt;a href=Databound&gt;
            Databound&lt;/a&gt;&lt;/li&gt;
    
        &lt;/ul&gt; &lt;/div&gt;
    
" __designer:Values="&lt;P N='ID' ID='1' T='ELMFooterNavigation' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='TemplateControl' R='0' /&gt;"></wssuc:Navigation>
  <div class="footerTopLeft">
  <h6>??????? ????????</h6>
<wssuc:Subscription id="ElmFooterSubscription" runat="server" EnableViewState="false" __designer:Preview="&lt;div id=&quot;ElmFooterSubscription_upnlSUbscription&quot;&gt;
	
        &lt;div class=&quot;subscriptionText&quot;&gt;
            &lt;span id=&quot;ElmFooterSubscription_lbltext&quot;&gt;&lt;/span&gt;&lt;/div&gt;
        &lt;div id=&quot;ElmFooterSubscription_pnlSubscription&quot;&gt;
		
            &lt;div class=&quot;subscriptionInput&quot;&gt;
                &lt;input name=&quot;ElmFooterSubscription$txtEmail&quot; type=&quot;text&quot; id=&quot;ElmFooterSubscription_txtEmail&quot; class=&quot;textForEmail&quot; /&gt;
                &lt;span id=&quot;ElmFooterSubscription_validatorEmailRequired&quot; style=&quot;color:Red;&quot;&gt;&lt;/span&gt;
                &lt;span id=&quot;ElmFooterSubscription_validatorEmail&quot; style=&quot;color:Red;&quot;&gt;&lt;/span&gt;
            &lt;/div&gt;
            
            
            &lt;div class=&quot;subscriptionRegister&quot;&gt;
                &lt;input type=&quot;submit&quot; name=&quot;ElmFooterSubscription$btnRegister&quot; value=&quot;&quot; onclick=&quot;javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&amp;quot;ElmFooterSubscription$btnRegister&amp;quot;, &amp;quot;&amp;quot;, true, &amp;quot;RegistrationGroup&amp;quot;, &amp;quot;&amp;quot;, false, false))&quot; id=&quot;ElmFooterSubscription_btnRegister&quot; /&gt;
            &lt;/div&gt;
        
	&lt;/div&gt;
    

&lt;/div&gt;
" __designer:Values="&lt;P N='ID' ID='1' T='ElmFooterSubscription' /&gt;&lt;P N='EnableViewState' T='False' /&gt;&lt;P N='TemplateControl' R='0' /&gt;">
			</wssuc:Subscription>


</div>
    </div></div>
    <div class="footerbottom"><div class="wrapper">
    
    <div class="copyrights">???? ?????? ?????? © ??? 2014</div><div class="footerlinks"><a href="/ar/Pages/privacy.aspx" class="lastLink">???????? ????? ?????????</a><a href="/ar/ContactUs/Pages/default.aspx">???? ???</a></div><div class="clr"></div>
    </div></div>
				</footer>
			</div>
			<!-- /v5 wrapper -->
			
			<!-- design mode console -->
			<SharePoint:VersionedPlaceHolder UIVersion="3" ID="DesignModeConsoleV3" runat="server" __designer:Preview="" __designer:Values="&lt;P N='ID' T='DesignModeConsoleV3' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">
				<asp:ContentPlaceHolder id="WSSDesignConsole" runat="server">
					<wssuc:DesignModeConsole id="IdDesignModeConsole" runat="server" />
				</asp:ContentPlaceHolder>
			</SharePoint:VersionedPlaceHolder>
			
			<!-- developer dashboard -->
			<SharePoint:DeveloperDashboard runat="server" __designer:Preview="[ DeveloperDashboard &quot;Unnamed17&quot; ]" __designer:Values="&lt;P N='ID' T='ctl30' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
			
			<!-- form authentication -->
			<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">
				<SharePoint:FormDigest runat="server" __designer:Preview="&lt;input type=&quot;hidden&quot; name=&quot;__REQUESTDIGEST&quot; value=&quot;0x007641EE3C5E3066920CD9BC8D418AB8965F0769E2C2407DDAB8F6E4F9052D3F091B4930EF898F1819D56582BCD0A2D4B511F54689A8F1D13788716ABD960C29,29 Dec 2014 14:01:49 -0000&quot; /&gt;" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl31' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>
			</asp:ContentPlaceHolder>
			
		</div>
	</div>
</div>

<!-- hidden placeholders -->
<asp:Panel visible="false" runat="server" __designer:Preview="&lt;Regions&gt;&lt;Region Name=&quot;0&quot; Editable=&quot;True&quot; Content=&quot;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderPageDescription&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderPageImage&amp;quot; runat=&amp;quot;server&amp;quot; visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderMiniConsole&amp;quot; runat=&amp;quot;server&amp;quot; visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderTitleLeftBorder&amp;quot; runat=&amp;quot;server&amp;quot; Visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderTitleRightMargin&amp;quot; runat=&amp;quot;server&amp;quot; visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderTitleAreaSeparator&amp;quot; runat=&amp;quot;server&amp;quot; visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderNavSpacer&amp;quot; runat=&amp;quot;server&amp;quot; Visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderLeftNavBarBorder&amp;quot; runat=&amp;quot;server&amp;quot; Visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderBodyLeftBorder&amp;quot; runat=&amp;quot;server&amp;quot; Visible=&amp;quot;false&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderBodyRightMargin&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderSiteName&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderGlobalNavigation&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder ID=&amp;quot;PlaceHolderTitleBreadcrumb&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;	&amp;lt;asp:ContentPlaceHolder id=&amp;quot;PlaceHolderSearchArea&amp;quot; runat=&amp;quot;server&amp;quot; /&amp;gt;&amp;#xD;&amp;#xA;&quot; /&gt;&lt;/Regions&gt;&lt;div style=&quot;;&quot; class=&quot;&quot; _designerRegion=0&gt;&lt;/div&gt;" __designer:Values="&lt;P N='ID' T='ctl32' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;&lt;P N='Visible' T='False' /&gt;">
	<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server" />
	<asp:ContentPlaceHolder id="PlaceHolderPageImage" runat="server" visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderMiniConsole" runat="server" visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderTitleLeftBorder" runat="server" Visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderTitleRightMargin" runat="server" visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderTitleAreaSeparator" runat="server" visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderNavSpacer" runat="server" Visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarBorder" runat="server" Visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderBodyLeftBorder" runat="server" Visible="false" />
	<asp:ContentPlaceHolder id="PlaceHolderBodyRightMargin" runat="server" />
	<asp:ContentPlaceHolder id="PlaceHolderSiteName" runat="server" />
	<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigation" runat="server" />
	<asp:ContentPlaceHolder ID="PlaceHolderTitleBreadcrumb" runat="server" />
	<asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server" />
</asp:Panel>

<input type="text" name="__spText1" title="text" style="display: none;" />
<input type="text" name="__spText2" title="text" style="display: none;" />

</form>

<asp:ContentPlaceHolder id="PlaceHolderUtilityContent" runat="server" />
<SharePoint:WarnOnUnsupportedBrowsers runat="server" __designer:Preview="" __designer:Values="&lt;P N='InDesign' T='False' /&gt;&lt;P N='ID' T='ctl33' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;"/>

</body>
</html>