*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

body{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #808285;
	direction: rtl;
}

img{
	border: none;
}
.clr{
	clear: both;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0;
}

ul,li{
	margin: 0;
	padding: 0;
}

a:link,
a:visited{
	color: #0070b9;
	text-decoration: none;
}

.page{
	border-top: 6px solid #0071b9;
}

.header-container{
	background:url(../images/headerBg.jpg) repeat-x left bottom #fff;
	padding: 36px 0 20px;
}

.wrapper{
	max-width: 1208px;
	margin: 0 auto;
}

.topLinks a {
  margin: 0 28px 0 6px;
  display: inline-block;
  font-size: 26px;
  line-height: 1;
}

.searchBox{
	padding: 18px 0 24px;
}

.topLinks {
  direction: ltr;
}

.topSocialLinks {
  direction: ltr;
}

.searchBox input{
	width: 560px;
	border: 1px solid #42c7f4;
	height: 66px;
	background: url(../images/search.png) no-repeat 15px center #ffffff;
	padding: 10px 10px 10px 66px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.topSocialLinks ul{
	line-height: 1;
}

.topSocialLinks ul li{
	list-style: none;
	margin: 0 8px 0 0;
	display: inline-block;
	vertical-align: middle;
}

.topSocialLinks ul li.lastsociallink{
	margin: 0 8px 0 30px;
}

.topSocialLinks ul li.lastsociallink a{
	font-size: 27px;
	color: #0070b9;
}

.headerRht {
  float: right;
  padding: 0 32px 0 0;
}

.headerLft {
  float: left;
}

.menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{}

ul.mainMenu li{
	display: inline-block;
	font-size: 34px;
}

ul.mainMenu li a{
	color: #ffffff;
	display: block;
	padding: 18px 54px;
	background: url(../images/menuborder.png) no-repeat left center;
	line-height: 1;
}

ul.mainMenu li:hover a{
	background: #42c7f4;
}

ul.mainMenu li:last-child a{
	background: none;
}

ul.mainMenu li:last-child:hover a{
	background: #42c7f4;
}

/*banner*/

.bannerWrapper{
	background:url(../images/homeBanner.png)  repeat-x right center;
	height: 496px;
	position: relative;
}

.bannerWrapper .slides{
	background:url(../images/banner1.png) no-repeat left top;
	height: 496px;
}

.caption {
  position: absolute;
  top: 100px;
  margin: 0 auto;
  width: 1208px;
  left: 0;
  right: 0;
  padding: 0 60px 0 0;
}

.caption h1{
	font-size: 81px;
	line-height: 101px;
	color: #ffffff;
	text-shadow: 3px 3px 0 #000000;
}

.caption h2{
	font-size: 61px;
	color: #ffffff;
	text-shadow: 3px 3px 0 #000000;
	line-height: 91px;
}

.caption .slideLinks {
	padding: 20px 0 0;
}
.caption .slideLinks a{
	width: 190px;
	border: 1px solid #eee;
	font-size: 26px;
	color: #ffffff;
	display: inline-block;
	margin: 0 0 0 20px;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.content-container .topPane{
	padding: 40px 0 70px;
	background: #f4f7f8;
}

.topPaneblock{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 70px;
}
.topPaneblock h3{
	margin: 0;
	font-size: 34px;
	color: #42c7f4;
	text-align: right;
	line-height: 1;
	padding: 0 45px 0 0;
}

.topPaneblock p{
	font-size: 20px;
	line-height: 24px;
}

.topPaneblock.partners h3{
	background:url(../images/partners.png) no-repeat right center;
}

.topPaneblock.guidence h3{
	background:url(../images/guide.png) no-repeat right center;
}

.topPaneblock.settings h3{
	background:url(../images/settings.png) no-repeat right center;
}

.topPaneblock a:before{
	content: "";
	clear: both;
	display: block;
}

.topPaneblock a{
	display: inline-block;
	width: 115px;
	border: 1px solid #7dd7f6;
	float: left;
	color: #7dd7f6;
	text-align: center;
	margin: 26px 0 0;
	padding: 9px 0;
}

.mainContent{
	padding: 40px 0 0;
}

.slideControls .slideControlsLeft a{
	text-indent: -9999px;
	width: 53px;
	height: 53px;
	margin: 0 12px 0 0;
	display: inline-block;
}

.slideControls .slideControlsLeft a.leftSlide{
	background: url(../images/arrowLeft.jpg) no-repeat center center;
}

.slideControls .slideControlsLeft a.rightSlide{
	background: url(../images/arrowRight.jpg) no-repeat center center;
}

.slideControlsLeft {
  float: left;
  vertical-align: middle;
  display: inline-block;
}

.slideControlsright {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.slideControls{
	padding: 0 0 14px;
}

.slidesBlock ul{
}

.slidesBlock ul li{
	width: 30%;
	display: inline-block;
	position: relative;
	padding: 220px 15px 0;
}

.slidesBlock ul li.slideOne{
	background: url(../images/slide1.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0 0;
}

.slidesBlock ul li.slideTwo{
	background: url(../images/slide2.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0;
}

.slidesBlock ul li.slideThree{
	background: url(../images/slide3.png) no-repeat center top #f4f7f8;
	margin: 0 0 0 2.5%;
}

.slidesBlock ul li.slideOne h4{
	color: #7fbd32;
	font-size: 44px;
}

.slidesBlock ul li.slideTwo h4{
	color: #0068b6;
	font-size: 44px;
}

.slidesBlock ul li.slideThree h4{
	color: #ef7a00;
	font-size: 44px;
}

.slidesBlock ul li p{
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 10px;
}

.bottomPane{
	padding: 70px 0 0;
}

.bottompaneleft{
	display: inline-block;
	width: 413px;
	margin-right: 20px;
	vertical-align: top;
}

.bottompanecenter{
	display: inline-block;
	width: 350px;
	margin-right: 30px;	
	vertical-align: top;
}

.bottompaneright{
	width: 365px;
	margin: 0 0 0 30px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.bottomPane h5{
	font-size: 26px;
	margin: 0 0 5px;
}

.bottomPane p{
	margin: 0 0 10px;
	font-size: 22px;
}

.bottomPane .newsBlock{
	padding: 0 0 50px;
}

.bottomPane .newsBlock:last-child{
	padding: 0;
}

.bottompanecenter img{
	margin: 0 0 58px;
}

.bottompanecenter img:last-child{
	margin: 0;
}

.bottompaneright .twitHeading{
	background: url(../images/sidetwitter.png) no-repeat 10px center #00aff0;
	padding: 15px 0;
}

.bottompaneright .twitHeading a{
	margin: 0 20px 0 0;
	display: inline-block;
	padding: 0 15px;
	border: 1px solid #b9e9fb;
	color: #ffffff;
	height: 46px;
	width: 100px;
	font-size: 29px;
	text-align: center;
	line-height: 44px;
}

.twitlinks {
  font-size: 22px;
  line-height: 25px;
}

.twitlinks a{
	color: #808285;
  padding: 15px 5px;
  display: block;
}

.twitlinks a:hover{
	color: #808285;
	background: #fafafa;
}

.footerTop{
	background: #f4f7f8;
	padding: 25px 0 35px;
}

.footerTop .footerTopLeft{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.footerTop .footerTopLeft h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 18px;
}

.footerTop .footerTopCenter{
	width: 33%;
	vertical-align: top;
	margin: 0 .5%;
	text-align: right;
	display: inline-block;
}

.footerTop .footerTopCenter h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 18px;
}

.footerTop .footerTopRight{
	vertical-align: top;
	width: 33%;
	display: inline-block;
	padding: 0 70px 0 0;
}

.footerTop .footerTopRight h6{
	font-size: 27px;
	color: #00aff0;
	margin: 0 0 18px;
}


.footerTop .footerTopLeft ul li {
  display: inline-block;
  margin: 0 0 10px 10px;
}

.footerTopCenter ul{
	list-style: none;
}

.footerTopCenter ul li{
	margin: 0 0 5px;
}

.footerTopCenter ul li a{
	color: #808285;
}

.footerTopRight ul{
	list-style: none;
}

.footerTopRight ul li a{
	color: #808285;
}

.footerTopRight ul li{
	margin: 0 0 5px;
}

.footerbottom{
	padding: 20px 0 50px;
}

.footerbottom .footerlinks{
	float: left;
}


.footerbottom .footerlinks a{
	margin: 0 18px 0 0;
}
	
.footerbottom .copyrights{
	float: right;
	color: #005d9a;
}

.footerbottom .footerlinks .lastLink{
	background:url(../images/footerlinks_bg.jpg) no-repeat left center;
	padding: 0 0 0 18px;
}

/*Inner Page*/

.innerLeft {
  float: left;
  width: 72.5%;
}

.innerLeft.categoryPage {
  float: left;
  width: 74%;
}

.innerRight {
  float: right;
  width: 24%;  
}

span.date {
  float: left;
  font-size: 23.33px;
  color: #929292;
}

span.newsHeading {
  float: right;
  font-size: 25.62px;
  color: #0070b9;
}

.categoryNewsBlock .heading{
  font-size: 25.62px;
  color: #0070b9;
	padding: 0 0 10px;
}

.newsDetailbottom p{
	font-size: 22px;
	line-height: 35px;
	margin: 0;
}

.newsImg{
	padding: 0 0 15px;
}

.newsDetailTop{
	padding: 0 0 15px;
	overflow: hidden;
}

.sideMenu ul li{
	list-style: none;
	font-size: 25px;
	line-height: 52px;
}

.sideMenu ul li a{
	display: block;
	padding: 0 35px;
}

.sideMenu ul li a:hover{
	background: #42c7f4;
	color: #ffffff;
}

.newsSection{
	padding: 0 0 50px 23px;
}

.categoryNewsBlock p{
	font-size: 22px;
	line-height: 26px;
	margin: 0 ;
}

.categoryNewsBlock{
	width: 47.2%;
	padding: 16px 0 60px;
}

.categoryNewsBlock:nth-child(odd){
	float: left;
}

.categoryNewsBlock:nth-child(even){
	float: right;
}

.pagination {
  direction: ltr;
  margin: 0 0 100px;
}

.pagination ul{
	list-style: none;
}

.pagination ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 8px 0 0;
	font-size: 24px;
	line-height: 40px;
}

.pagination ul li a{
	color: #ffffff;
	background: #42c7f4;
	height: 42px;
	width: 42px;
	display: block;
	text-align: center;
}

.soluSinglebottom p{
	font-size: 22px;
	line-height: 35px;
	margin: 0 ;
}

.soluSingleImg{
	padding: 0 0 20px;
}

.soluSinglebottom ul{
	margin: 30px 0 50px;
}

.soluSinglebottom ul li{
	font-size: 22px;
	line-height: 35px;
	list-style: none;
	margin: 0 ;
}

.innerLeft.solSinglePage{
	padding: 10px 0 40px;
}

.categorySolutions ul{
	padding: 16px 0 0;
}

.categorySolutions ul li{
	list-style: none;
	width: 48%;
	padding: 0 0 54px;
}

.categorySolutions ul li:nth-child(odd){
	float: left;
}

.categorySolutions ul li:nth-child(even){
	float: right;
}

.categorySolutions {
  overflow: hidden;
}
.categorySolutions ul li .catSolimg{
	margin: 0 0 14px;
}

.categorySolutions ul li h4{
	font-size: 37px;
	color: #0070b9;
	line-height: 54px;
	padding: 0 40px 0 0;
}

.categorySolutions ul li span{
	display: block;
	font-size: 29.1px;
	padding: 0 40px 0 0;
	line-height: 35px;
}