﻿*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
@font-face {
        font-family: "DIN Next LT Arabic";
        src: url('230163575-DINNextLTArabic-Regular.eot');
        src: url('230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'),
        url('230163575-DINNextLTArabic-Regular.woff') format('woff'),
        url('230163575-DINNextLTArabic-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "DIN Next LT Arabic medium";
        src: url('147277833-DINNextLTArabic-Medium.eot');
        src: url('147277833-DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('147277833-DINNextLTArabic-Medium.svg#DIN Next LT Arabic') format('svg'),
        url('147277833-DINNextLTArabic-Medium.woff') format('woff'),
        url('147277833-DINNextLTArabic-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
        font-family: "333-mohannad ultrabold";
        src: url('230163575-DINNextLTArabic-Regular.eot');
        src: url('230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'),
        url('230163575-DINNextLTArabic-Regular.woff') format('woff'),
        url('230163575-DINNextLTArabic-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
.ms-rteFontSize-4 span, .ms-rtestate-field,.ms-rteTableEvenCol-0,.MsoNormal span,.MsoNormal,.MsoListParagraphCxSpFirst span,.MsoListParagraphCxSpFirst
{
	font-family: "DIN Next LT Arabic";
		color: #808285;
	direction: rtl;

}
#RibbonContainer-TabRowRight
{
	font-size:small;
}

body{
	background: #f6f6f6;
}

.newsBlock > img {
max-height:200px;
}
.newsBlock > img:hover {
opacity: .7; /* other browsers  and IE9+ */
	filter: alpha(opacity=70); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* this works in IE8 only */
}

body #s4-bodyContainer{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: "DIN Next LT Arabic";
		color: #808285;
	direction: rtl;
}
body .footer-container{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: "DIN Next LT Arabic";
		color: #808285;
	direction: rtl;
}

#s4-mainarea .s4-ca{
	background: none;
}

.ms-WPBody
{
    font-family: "DIN Next LT Arabic" !Important;
    font-size:20px;
}
body #s4-mainarea {
    float:none;
    clear: both;	background: #f6f6f6;
}

.ms-WPBody a:visited{
	color: #0070b9 !important;
}

.clr{
	clear: both;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal !important;
	margin: 0;
}

ul,li{
	margin: 0;
	padding: 0;
}

a:link,
a:visited{
	color: #0070b9;
	text-decoration: none !important;
}

.page{
	border-top: 5px solid #11034b;
	width: 100% !important;
	border-right: none;
	border-left: none;
}

.header-container{
	background:url('../../Images/headerBg.jpg') repeat-x left bottom #fff;
	padding: 0 0 16px;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.mainContent .wrapper .eventsBlock{
	background: #ffffff;
	border: 1px solid #e3e3e3;
	padding: 24px 0 0;
}

.mainContent .wrapper .bottomPane{
	max-width: 1000px;
	margin: 0 auto;
}

#owl-demo {
  width: 963px !important;
}


.topLinks a {
  margin: 0 28px 0 3px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.searchBox{
	padding: 2px 0 10px;
}

.topLinks {
  direction: ltr;
  padding-bottom: 4px;
}

.topSocialLinks {
  direction: ltr;
}

.topSocialLinks ul{
  direction: rtl;
}


.topSocialLinks ul{
  direction: rtl;
}


.s4-search input.ms-sbplain {
   width: 280px !Important;
	border: 1px solid #42c7f4 !Important;
	height: 35px;
	background: url(../../Images/search.png) no-repeat 8px center #ffffff;
	padding: 0px 10px 6px 32px;
	font-family: "DIN Next LT Arabic";
	font-size: 14px;
	text-indent: 5px;
	line-height: 100%;
	outline:none;
	direction: rtl;
}

.searchBox div div{
	direction: ltr;
}
.s4-search select.ms-sbscopes, .s4-search input.ms-sbplain {
    border: 0px;    
    margin-top: 0px;
}
.srch-gosearchimg
{
visibility:hidden;
display:none;

}

.s4-titlelogo img {
  width: 127px;
}

.topSocialLinks ul {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;
  padding:0 0px 0 3px;
}

.topSocialLinks ul li{
	list-style: none;
	margin: 0 5px 0 0px;
	display: inline-block;
	vertical-align: middle;
}

.topSocialLinks ul li.lastsociallink{
	margin: 0 8px 0 23px;
}

.topSocialLinks ul li.lastsociallink a{
	font-size: 22px;
	color: #0070b9;
}

.headerRht {
  float: right;
  padding: 13px 26px 0 0;
}

.headerLft {
  float: left;
  padding: 28px 0 0 0px;
        font-family: "DIN Next LT Arabic";

}

/*.menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{
	font-size: 0;
}

ul.mainMenu li{
	display: inline-block;
	font-size: 27px;
}

ul.mainMenu li a{
	color: #ffffff !Important;
	display: block;
	padding: 10px 39px 21px;
	background: url(../../Images/menuborder.png) no-repeat left center;
	position: relative;
	line-height: 1;
}

ul.mainMenu li:hover a {
  background-color: #42c7f4;
  background-image: none;
  margin: 0 -2px 0 0;
	padding: 10px 41px 21px 39px;
	  z-index: 1;
}

ul.mainMenu li:last-child a{
	background: none;
}

ul.mainMenu li:last-child:hover a{
	background: #42c7f4;
}*/

.menu-container{
	background: #0070b9;
}

.menu-container .wrapper ul.mainMenu{
	font-size: 0;
	padding: 0 0px 0 0px;
}

ul.mainMenu li{
	display: inline-block;
	font-size: 21px;
}

ul.mainMenu > li > a{
	color: #ffffff !Important;
	display: block;
	padding: 7px 27px 17px;
	position: relative;
	line-height: 1;
}

ul.mainMenu > li.menuItemSelected > a,
ul.mainMenu > li:hover > a {
  background-color: #11034b;	  z-index: 1;
}

ul.mainMenu > li:last-child > a{
	background: none;
}

ul.mainMenu > li:last-child:hover > a{
	background: #11034b;
}

.content-container {
	
}

.content-container .topPane {
}

.topPaneblock{
	width: 28%;
	display: inline-block;
	vertical-align: top;
	margin: 0% 6.5%;
}

.topPaneblock:first-child{
	margin: 0;
}

.topPaneblock:last-child{
	margin: 0;
}

.topPaneblock h3 {
  color: #0070b9;
  font-size: 22px;
  line-height: 1;
  margin: 0;
  min-height: 30px;
  text-align: right;
}

a.solTitle {
  color: #0070b9;
  font-size: 22px;
  line-height: 1;
  margin: 0;
  min-height: 30px;
  text-align: right;
}



.topPaneblock.guidence {
  margin: 0 3%;
}
.ms-WPBorder
{
    border-style:none;
    }
.ms-WPHeader
{
    display:none;
    }

.topPaneblock p {
  font-size: 16px;
  min-height:160px;
  line-height: 20px;
  margin: 12px 0 0;
}

.topPane .wrapper {
	border: 1px solid #e3e3e3;
  background: #ffffff;
  padding: 25px 30px;
}


.topPaneblock a:before{
	content: "";
	clear: both;
	display: block;
}

.topPaneblock a.readMore {
  color: #fff !important;
  display: inline-block;
  float: left;
  font-size: 15px;
  margin: 5px 0 0;
  padding: 0 0 5px;
  text-align: center;
  width: 86px;
  height: 33px;
  line-height: 26px;
  background: #91278f;
 
}

.mainContent{
	padding: 26px 0 0;
}

.mainContent .s4-wpcell-plain .s4-wpTopTable td div {
  text-align: left !important;
}

.slideControls .slideControlsLeft a{
	text-indent: -9999px;
	width: 53px;
	height: 53px;
	margin: 0 12px 0 0;
	display: inline-block;
}

.slideControls .slideControlsLeft a.leftSlide{
	background: url(../../Images/arrowLeft.jpg) no-repeat center center;
}

.slideControls .slideControlsLeft a.rightSlide{
	background: url(../../Images/arrowRight.jpg) no-repeat center center;
}

.slideControlsLeft {
  float: left;
  vertical-align: middle;
  display: inline-block;
}

.slideControlsright {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.slideControls{
	padding: 0 0 14px;
}

.slidesBlock ul{
}

.slidesBlock ul li{
	width: 30%;
	display: inline-block;
	position: relative;
	
}

.slidesBlock ul li.slideOne{
	background: url(../../Images/slide1.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0 0;
}

.slidesBlock ul li.slideTwo{
	background: url(../../Images/slide2.png) no-repeat center top #f4f7f8;
	margin: 0 2.5% 0;
}

.slidesBlock ul li.slideThree{
	background: url(../../Images/slide3.png) no-repeat center top #f4f7f8;
	margin: 0 0 0 2.5%;
}

.slidesBlock ul li.slideOne h4{
	color: #7fbd32;
	font-size: 44px;
}

.slidesBlock ul li.slideTwo h4{
	color: #0068b6;
	font-size: 44px;
}

.slidesBlock ul li.slideThree h4{
	color: #ef7a00;
	font-size: 44px;
	padding:5px 15px;
}

.slidesBlock ul li p{
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 10px;
	padding:5px 15px;
}

.bottomPane{
	padding: 30px 0 26px;
}

.newsBlock span{
	display: block;	
	font-size: 22px;
	color: #0070b9;
	line-height: 30px;
	margin: 0 0 18px;
}

.newsBlock p a.readMore{
	background: none repeat scroll 0 0 #91278f;
    color: #fff !important;
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 5px 0 0;
    padding: 0 0 5px;
    text-align: center;
    height: 33px;
    width: 86px;
    position: absolute;
    left: 35px;
    bottom: 35px;
}

.newsBlock p a.readMore span {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}
.newsBlock a.readMore:hover{
	background:#652d91;
	
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
 transform: translateY(-3px);
}



.bottompaneleft {
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  width: 640px;
  background: #ffffff;
  padding: 25px;
  position: relative;
  	border: 1px solid #e3e3e3;
}
.bottompanecenter{
	display: inline-block;
	width: 350px;
	margin-right: 30px;	
	vertical-align: top;
}
.newsimage
{
    display: inline-block;
    vertical-align:top;
    width:350px;
    height:160px;
    margin-left:20px; 
    margin-bottom:10px;  
}

.bottompaneright {
  display: inline-block;
  margin: 0 34px 0 0;
  text-align: right;
  vertical-align: top;
  width: 326px;
  padding: 8px 0 0;
  background: #ffffff;
  padding: 25px 23px;
  	border: 1px solid #e3e3e3;
}

.bottomPane h5 {
  font-size: 21px;
  line-height: 1;
  margin: 0 0 5px;
}

.bottomPane p {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 10px;
}

.bottomPane .newsBlock{
	padding: 0 0 50px;

}

.bottomPane .newsBlock:last-child{
	padding: 0;
}

.newsimage img{
	margin: 0 0 58px;
}

.bottompanecenter img:last-child{
	margin: 0;
}

.bottompaneright .twitHeading{
	background: url(../../Images/sidetwitter.png) no-repeat scroll 10px center #00aff0;
	padding: 11px 0;
}

.bottompaneright .twitHeading a {
  border: 1px solid #b9e9fb;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 36px;
  line-height: 28px;
  margin: 0 20px 0 0;
  padding: 0 15px;
  text-align: center;
  vertical-align: top;
  width: 90px;
}

.bottompaneright .twitHeading a:hover{
	
border: 1px solid #0070b9;
  
}


.twitlinks {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.ms-WPBody .twitlinks{
  padding: 8px 5px 12px;
}


.twitlinks{}
 .twitlinks:hover {
    background: #f4f7f8;
}

.ms-WPBody .twitlinks a {
    color: #0070b9 !important;
    display: inline-block;

}


.footerTop{
	background: #11034b;
	padding: 10px 0 28px;
	font-size: 0;
	white-space: nowrap;
}

.footerTop .footerTopLeft {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 33%;	white-space: normal;
}
.footerTop .footerTopLeft h6{
	font-size: 20px;
	color: #00aff0;
	margin: 0 0 10px;
}

.footerTop .footerTopCenter {
  display: inline-block;
  margin: 0 0.5%;
  text-align: right;
  vertical-align: top;
  width: 33%;
}
.footerTop .footerTopCenter h6 {
  color: #00aff0;
  font-size: 20px;
  margin: 0 0 12px;
}

.footerTopLeft img {
  width: 50px;
}

.footerTop .footerTopRight {
  display: inline-block;
  padding: 0 70px 0 0;
  vertical-align: top;
  width: 33%;
}

.footerTop .footerTopRight h6 {
  color: #00aff0;
  font-size: 20px;
  margin: 0 0 12px;
}

.footerTop .footerTopLeft ul li {
  display: inline-block;
  margin: 0 0 6px 6px;
  font-size: 15px;
}

.footerTop .footerTopLeft ul li a{
	display: block;
	line-height: 1;
}

.footerTopCenter ul{
	list-style: none;
}

.footerTopCenter ul li{
	margin: 0 0 5px;  font-size: 15px;
}

.footerTopCenter ul li a{
	color: #fff;
}

.footerTopRight ul{
	list-style: none;
}

.footerTopRight ul li a{
	color: #808285;
}

.footerTopRight ul li{
	margin: 0 0 5px;
}

.footerbottom {
  padding: 10px 0 15px;
}
.footerbottom .footerlinks{
	float: left;
	line-height: 22px;
}


.footerbottom .footerlinks a {
  font-size: 16px;
  margin: 0 18px 0 0;
  color: #005d9a;
}	
.footerbottom .copyrights {
  color: #005d9a;
  float: right;
  font-size: 16px;
  padding: 0 40px 0 0;
}
.footerbottom .footerlinks .lastLink {
  background: url("../../Images/footerlinks_bg.jpg") no-repeat scroll left 7px  rgba(0, 0, 0, 0);
  padding: 0 0 0 18px;
}
/*Inner Page*/

.innerLeft {
  float: left;
  width: 75.5%;
}

.innerLeft.categoryPage {
  float: left;
  width: 75.5%;
}

.innerRight {
  float: right;
  width: 22%;  
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

span.date {
  color: #929292;
  float: left;
  font-size: 19px;
 line-height: 1;
}

span.newsHeading {
  color: #0070b9;
  float: right;
  font-size: 20px;
  line-height: 1;
}

.categoryNewsBlock .heading {
  color: #0070b9;
  font-size: 21px;
  padding: 0 0 6px;
   min-height: 70px;
   line-height:26px;
}

.newsDetailbottom p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.newsDetailbottom {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.newsImg {
  padding: 0 0 15px;
}

.newsImg > img{
 max-height: 199px;
 min-height: 199px;
 border-bottom: 2px solid #e3e3e3;
}

.newsImg > img:hover{
opacity: .7; /* other browsers  and IE9+ */
	filter: alpha(opacity=70); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* this works in IE8 only */
}


.newsDetailTop{
	padding: 0 0 18px;
	overflow: hidden;
	border-bottom: 1px solid #0070b9;
	margin: 0 0 20px;
}

.sideMenu ul li {
  font-size: 17px;
  line-height: 36px;
  list-style: none outside none;
}

.sideMenu ul ul li {
  font-size: 17px;
  line-height: 26px;
  list-style: outside none none;
}

.sideMenu ul li a {
  display: block;
  padding: 0 16px 6px 10px;
}

.sideMenu ul li a:hover, .sideMenu ul li.selected a{
	background: #11034b;
	color: #fff !Important;
}

.socialBlock {
  padding: 5px 20px;
  text-align: left;
  background: #fff;
  margin: 20px 0 43px;
}

.newsSection {
  background: none repeat scroll 0 0 #ffffff;
  padding: 18px 25px 0 0;
  border: 1px solid #e3e3e3;
}

.newsSection.detailPL{
  padding: 18px 25px 0;

}

.s4-wpcell-plain .s4-wpTopTable td.formLabelTd,
.s4-wpcell-plain .s4-wpTopTable td.formControlTd {
  font-family: "DIN Next LT Arabic";
  font-size: 16px;
  text-align: right;
}

.categoryNewsBlock p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.categoryNewsBlock {
  padding: 0 0px 40px 30px;
  width: 50%;
}

.mainContent .s4-wpcell-plain .s4-wpTopTable td div.pagination{
  text-align: left !important;
}

.categoryNewsBlock{
	float: right;
}

.pagination {
  direction: ltr;
  margin: 0 0;
  padding: 0 25px;
}

.pagination ul{
	list-style: none;
}

.pagination ul li {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  margin: 0 8px 0 0;
  vertical-align: top;
}

.pagination ul li a {
  background: none repeat scroll 0 0 #42c7f4;
  color: #ffffff !important;
  display: block;
  height: 35px;
  text-align: center;
  width: 35px;
}
.soluSingleImg img {
  max-width: 100%;
}

.soluSinglebottom p{
	 font-size: 18px;
    line-height: 28px;	margin: 0 ;
}

.soluSinglebottom{
	 font-size: 18px;
    line-height: 28px;	margin: 0 ;
}

.soluSingleImg {
  padding: 0 0 10px;
}

.soluSinglebottom ul {
  margin: 25px 0 30px;
}

.soluSinglebottom ul li {
  font-size: 18px;
  line-height: 28px;
  list-style: none outside none;
  margin: 0;
}

.innerLeft.solSinglePage{
	padding: 8px 0 0;
}

.categorySolutions ul{
	padding: 30px 0 0;
	overflow: hidden;
}

.categorySolutions ul li {
  list-style: outside none none;
  margin: 0 0 0 40px;
  padding: 0 0 48px;
  width: 280px;
}

.soluSingleImg > img {
  max-width: 100%;
}

.categorySolutions ul li{
	float: right;
}

.categorySolutions ul li .catSolimg{
	margin: 0 0 2px;
}

.categorySolutions {
  overflow: hidden;
  padding: 16px 40px 30px 0px;
  background: #ffffff;
  margin: 7px 0 24px;
}


.categorySolutions ul li h4 {
  color: #0070b9;
  font-size: 22px;
  line-height: 1;
  padding: 0 0 0;
  margin: 8px 0 18px; 
}

.categorySolutions.solutionPage ul li h4 img{
	float: right;
	margin: 5px 0 0 8px;
  max-width: 40px;
}

.categorySolutions.solutionPage a.readMore {
  background: none repeat scroll 0 0 #91278f;
  color: #fff !important;
  display: inline-block;
  float: left;
  font-size: 15px;
  height: 33px;
  line-height: 26px;
  margin: 20px 0 0;
  padding: 0 0 5px;
  text-align: center;
  width: 86px;
}

.categorySolutions.solutionPage ul {
  overflow: hidden;
  padding: 20px 0 0;
}

.catesoltext{
  font-size: 16px;
  line-height: 20px;
}
.categorySolutions .solutionLabel,
.categorySolutions .serviceLabel{
	border-bottom: 1px solid #0070b9;
	padding: 0 0 18px;
	display: block;
	font-size: 25px;
	color: #0070b9;
	line-height:1;
	max-width: 920px;
}

.categorySolutions.solutionPage ul li {
  list-style: outside none none;
  padding: 0 0 48px 40px;
  width: 50%;
  margin: 0;
}

.categorySolutions ul li span.catesoltext {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 0 0;
}


.categorySolutions.solutionPage ul li span.catesoltext {
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
}

.imgNews
{
    width:420px;
    height:227px;
}

.followUs {
  color: #0070b9;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin: 0 0 0 15px;
  vertical-align: text-bottom;
}

.s4-titlelogo {
  padding: 13px 0px 0 0;
  text-align: right;
  vertical-align: middle;
}


.topSocialLinks img {
    width: 29px;
    height: 29px;
}

.newsBlock > img {
    float: right;
    margin: 0 0 0 20px;
}


/* start form styles */
.star{float:right !important; width:auto; padding-top:10px; color:#676767; font-size:13px;}
.sub_title{color:#006cb6; line-height:24px;text-align: right;}
.formLabelTd{color:#676767; padding:5px 10px; width:20%; vertical-align:top; background-color:#fafafa}
.formControlTd{color:#676767;  padding:5px 10px; width:60%; vertical-align:top; background-color:#fafafa}
.formMultiTextBox{width:98%; color:#676767; background-color:#f3f3f3; border:1px solid #e5e5e4; height:100px; padding:3px; overflow:auto}
.formTextBox{width:98%; color:#676767;  background-color:#f3f3f3; border:1px solid #e5e5e4; padding:3px}
.formDropDown{width:50%; color:#676767; direction:rtl; background-color:#f3f3f3; border:1px solid #e5e5e4; padding:3px}
.DevHelperRequiredMark{color:#d02a2a}
.formSmallNote{color:#cacaca}
.form_btn{background:#00aff0;  color:#fff; text-align:center; float:left; margin-right:10px; padding:0px 20px; border:0; cursor:pointer; text-decoration:none; line-height:22px;margin-top: 10px;}
.form_btn:hover{color:#fff;}
.message{background-color:#f3f3f3; border:1px solid #e5e5e4; margin-bottom:10px; color:#7f7d7d}
.message_icon{width:40px; vertical-align:top; height:35px;background-image: url("../../Images/okIcon.png");}
.message_x{width:10px; vertical-align:top; text-align:center}
.star {
  color: #676767;
  float: left !important;
  padding-top: 10px;
  width: auto;
}
/* end form styles */


.serviceItem a
    {
	float:left;
}

   .item img
    {
	width:100% !Important;
}

 #owl-demo ,.owl-wrapper
    {
        width: 960px;
    }
    
     #owl-demo .item{
        margin: 0px 0 0 0;
        min-height:195px;
        padding:0;
        
    }
    .testh4
    {
        color: #7FBD32;
    }
    .testP
    {
font-size: 16px;
line-height: 26px;
margin: 0 0 10px;

    }
    
    .item img
    {
	width:100% !Important;
}


div.s4-ca{
	margin-right:0;
}
.owl-carousel
{
	direction:ltr;
}

.owl-item{
}




/*Changes*/

body #s4-topheader2{
	border: none;
}

.bannerWrapper .flexslider{
	max-width: 1000px;
	box-shadow: none;
	margin: 20px auto 0;
}

.ms-WPBody a:hover{
	text-decoration: none;

}

.topPaneblock img {
  display: inline-block;
  vertical-align: middle;
}

.bottomPane h5 span {
  color: #0070b9;
  font-size: 20px;
  margin: 0;
}

.ms-welcomeMenu a span{
color: #fff;
}

.flexslider .slides img {
	border: none;
}

.ms-welcomeMenu a:link {
  color: #fff;
  font-size: 10px;
}

a.s4-signInLink{
	font-size: 10px !important;
}

.s4-trc-container-menu {
  float: left;
}

.ms-welcomeMenu {
  padding: 0;
}

.ms-cui-topBar2 {
  border-bottom: medium none;
  height: 43px;
}

.headerLft .s4-search input.ms-sbplain {
	color: #808285;
}

.ms-sbtable-ex {
	float: none;
}

.twitterBlock{
	padding: 0px 0 0;
}

.twitterBlock .marquee{
	height: 222px !important;
}

#s4-bodyContainer:after {
  clear: both;
  content: "";
  display: block;
}

.footerTopLeft > ul {
  width: 64%;
  font-size: 0;
}

.owl-buttons{
	padding: 0 0 10px 48px;
	
}

.eventsBlock .owl-theme .owl-controls {
  margin-top: 0;
  text-align: left;
}

.ms-siteactionsmenu > span > a > span {
  display: inline-block;
  margin: 1px 2px 0 0;
  color: #ffffff;
}

.ms-titlerowborder {
  border-left: none;
}

.ms-wpContentDivSpace {
 	margin: 0; 
}

.ms-WPBody h3 {
	font-weight: normal;
}


/******* BHarti**********/

.owl-item .testh4 {
    line-height: 1;
    margin: 0 0 18px;
}
.owl-item .testP {
    min-height: 0px;
}
.bottomPane p {
	line-height:20px;
}
.newsBlock > img {
    margin-top: 12px;
}
.bottomPane h5 {
	line-height:1;
}

.bottomPane p.newsHomeContent{
	min-height: 187px;
}

.bottompaneright .twitHeading a{
	color:#fff!important;
}
.bottompaneright .twitHeading a{

}
.bottompaneright .twitHeading {
    margin: 0 0 20px;
}

.bottomPane {
  font-size: 0;
}

.footerTopCenter ul li, .footerTopRight ul li {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 10px;
}
.footerTopCenter ul li a, .footerTopRight ul li a {
	color:#fff!important;
}
body #MSO_ContentTable{
	display:inline-block;
}

.serviceItem {
  overflow: hidden;
  padding: 0 0 15px;
}

.serviceItem p {
  margin: 0;
  line-height: 25px;
}

.serviceItem a{
	line-height: 25px;
}

.s4-wpcell-plain .s4-wpTopTable td{
	font-family: "DIN Next LT Arabic";
	font-size: 16px;
	text-align: right;/* changed from left to right */

}

.mainContent .s4-wpcell-plain .s4-wpTopTable td div{
	text-align: right !important;
}

.mainContent .s4-wpcell-plain .s4-wpTopTable td div.owl-buttons {
  text-align: left !important;
}


/* Owl Themes*/

.mainContent .owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  height: 27px;
  margin: 0 6px 0 0;
  width: 27px;
}

.owl-buttons{
	padding-left: 0;
	padding-right:55px;
	padding-right: 90px;
}

.owl-item .testh4 {
	text-align: right;
	color: #7fbd32;
    font-size: 22px;
    line-height: 1;
    margin: 6px 0 8px;
}

.testP {
	font-size: 16px;
    line-height: 21px;
    text-align: right;
    margin: 0;
    padding-bottom:10px;
}

.mainContent .owl-carousel .owl-item {
  float: left;
  margin-right: 41px;
}

.flex-direction-nav {
	display: none;
}

.catSolimg img {
  max-width: 100%;
}

.catSolimg > a {
 	display: block; 
}

.ms-rteTableEvenCol-0 > div {
  text-align: right;
}

.srch-Description2 {
  color: #808285;
  font-size: 1em;
  margin-left: 24px;
  max-width: 100%;
}

.srch-Metadata1 {
  margin: 2px 0 30px;
  max-width: 100%;
  width: 100%;
}

.srch-results {
  max-width: 100%;
  padding-left: 0;
}

.srch-Title2 .srch-Title3 a{
	text-decoration: none !important;
}

.srch-WPBody{
        font-family: "DIN Next LT Arabic";
}


.srch-URL2 {
  color: #808285 !important;
}

.srch-Page STRONG {
  background: #42C7F4;
  border: none;
  display: block;
  float: left;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin: 0 3px;
  padding: 2px 10.5px;
  text-decoration: none;
  height: 35px;
  width: 35px;
}
.sideMenu ul li .menu-item-text{
	 text-decoration: none;
}
.innerRight .sideMenu ul.root li.selected .menu-item,
.innerRight .sideMenu ul.root li .menu-item:hover,
.sideMenu ul li a:hover .menu-item-text{
	color: #ffffff;
		 text-decoration: none;
}

.innerRight .sideMenu ul.root li.selected .menu-item .menu-item-text{
	color: #ffffff;
}

.innerRight .sideMenu ul.root li .menu-item{
	padding: 0 16px 6px 10px !important;
	border: none;
	font-size: 17px;
}

.innerRight .sideMenu ul.root ul li .menu-item {
  border: medium none;
  font-size: 15px;
  padding: 0px 45px 6px 10px !important;
  color: #0070B9;
  background: url("../../Images/arrow.png") no-repeat scroll 88% center / 6px auto;
}

.innerRight .sideMenu ul.root ul li.selected .menu-item,
.innerRight .sideMenu ul.root ul li:hover .menu-item {
  background: url("../../Images/arrow-white.png") no-repeat scroll 88% center / 6px auto #11034B;
}

.innerRight .sideMenu ul.root ul{
	margin: 0;
}

.mainMenu.megamenu h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  margin: 5px 0 0 0;
}

.bannerWrapper .flex-control-nav {
  bottom: 18px;
  height: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

input.s4-searchbox-QueryPrompt {
 	font-style: normal; 
}

.socialBlock .fb-like{
	display: inline-block;
	float: left !important;
	vertical-align: top !important;
}

div.fb_iframe_widget span{
	height:26px !important;
}

.caption {
  position: relative;
  top: 26px;
  margin: 0 auto;
  width: 960px;
  left: 0;
  right: 0;
  padding: 0 60px 0 0;
  direction:rtl;
}

.caption h1 {
  color: #ffffff;
  font-family: "DIN Next LT Arabic medium";
  font-size: 56px;
  line-height: 96px;
  text-shadow: 3px 3px 0 #000000;
}
.caption h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 56px;
  text-shadow: 3px 3px 0 #000000;
}
.caption .slideLinks {
  padding: 26px 0 0;
}
.caption .slideLinks a {
  border: 1px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 50px;
  line-height: 38px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 160px;
}

/* Solution webpart */
a.readMore:hover span {
	color:white;
}

a.readMore:hover{
	background:#652d91;
	
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
 transform: translateY(-3px);
}


.pagination{
	direction:rtl;
}
.pagination a {
    background: none repeat scroll 0 0 #42c7f4;
    color: #ffffff !important;
    display: inline-block;
    height: 42px;
    text-align: center;
    width: 42px;
    margin-left: 5px;
    padding: 0 10px;
    line-height:38px;
}

.slideControlsright {
    color: #0070b9;
    font-size: 25px;
    line-height: 1;
}



ul.catServices .catSolimg > a {
    display: block;
    min-height: 230px;
}

.slide-bg-color
{
	background-position:top;
}

.slideControlsright > span {
    cursor: default;
}

.wrapper .megamenu li .dropdown_container, .wrapper .megamenu li .dropdown_fullwidth, .wrapper .megamenu li .dropdown_multilevel {
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.sideMenu .ms-quickLaunch {
  padding-top: 0px;
}

.mainMenu.megamenu img {
  opacity: 1; /* other browsers  and IE9+ */
	filter: alpha(opacity=100); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* this works in IE8 only */
  transition: opacity 0.3s ease-in-out 0s;
  margin: 24px 0 20px 32px;
  float: right;
}

.mainContent .owl-theme .owl-controls .owl-buttons div span{
	color:#0072bc;
}


.mainMenu.megamenu .col_6 {
  margin: 0;
  padding: 15px 50px 15px 30px;
  width: 50%;
  border-right: 1px solid #271a5c;
  border-bottom: 1px solid #271a5c;
  position: relative;
}

.mainMenu .dropdown_container{
	padding: 0 !important;;
}
.mainMenu .menuArrow{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto;
	width: 12px;
	height: 20px;
	background: url('../../Images/arrow-left.png') no-repeat center center;
}

.mainMenu .mainMenu.megamenu h3 {
  color: #fff;	
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.mainMenu.megamenu p {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding-left: 15px;
  margin-top:5px;
  min-height: 50px;
}

.NewsTitle
{
 color: #0070b9;
  display: block;
  font-size: 24px;
  line-height: 25px;
  margin: 0 0 10px;
}

.eventsBlock .owl-prev {
  background: url("/Style Library/Images/arrowLeft.jpg") no-repeat scroll center center / 27px 27px transparent;
}

.eventsBlock .owl-next {
  background: url("/Style Library/Images/arrowRight.jpg") no-repeat scroll center center / 27px 27px transparent;
}

.eventsBlock .owl-prev:hover{
  background: url("/Style Library/Images/arrowLeft_Hover.png") no-repeat scroll center center / 27px 27px transparent;

}

.eventsBlock .owl-next:hover{
  background: url("/Style Library/Images/arrowRight_Hover.png") no-repeat scroll center center / 27px 27px transparent;

}




.list {
  padding: 0 20px 0 0;
}

.pageTitle{
	color: #3db2ff;
}

.pageSubTitle{
	color: #7eccff;
}

.contentPara{

}

.tabularBlock{
font-family: "DIN Next LT Arabic";
color: #808285;
direction: rtl;
}

.tabularBlock strong{
color: #808285;
}


.bannerWrapper .flex-control-paging li a:hover,
.bannerWrapper .flex-control-paging li a.flex-active{
	background: #0070b9;
}

.bannerWrapper .flex-control-paging li a {
	width: 12px;
	background: #808285;
	height: 12px;
	box-shadow: none;

}

.bannerWrapper .flex-control-nav li {
  display: inline-block;
  margin: 0 3px;
}




.tableContent th,
.tableContent td{
 border-left:1px solid #808285;
 border-bottom:1px solid #808285; 
 padding: 5px;
 font-size: 18px;
 line-height: 28px;
  border-right:1px solid #808285;

}

.tableContent tr:first-child td,
.tableContent tr:first-child th{
 border-top:1px solid #808285;
 font-size: 18px;
    line-height: 28px;
 color: #7eccff;
}

.tableContent tr th:last-child,
.tableContent tr td:last-child{
 border-right:1px solid #808285;
}
.currentPage{
	background-color:#11034b !important;
}

.orangeTitle{
color: #FFA500;
	}
	
/************************ added by bharti *********************/

.bannerWrapper .flex-control-paging li a{
	background-image:url("/Style Library/Images/slider-bullets.png");
	background-position:-17px 0;
	background-repeat:no-repeat;
	background-color:transparent;
	border-radius:0;
}
.bannerWrapper .flex-control-paging li a:hover, .bannerWrapper .flex-control-paging li a.flex-active{
	background:url("/Style Library/Images/slider-bullets.png") -1px 0 no-repeat transparent;
}

.subscriptionText{
	font-size: 16px;
	margin-top: -2px;
	color: #fff;
}
.subscriptionInput{
	font-size:16px;
	float: right;
	width: 100%;
	margin-top:18px;
}
	.subscriptionInput input, .subscriptionInput span{
		padding: 2px 4px 5px;
		width: 100%;
		float: right;
		font-size:16px;
		color:#808285;
		font-family: "DIN Next LT Arabic";
	}
	.subscriptionInput span{
		padding:0;	
	}
.subscriptionRegister{
	float:right;
	width:100%;
	margin-top:16px;
}
	.subscriptionRegister input{
		float:right;
		cursor:pointer;
		width:86px;
		padding: 3px 0 9px;
		border: 0;
		font-size: 15px;
		background: #0070b9;
		color: #fff;
		font-family: "DIN Next LT Arabic";
	}

.subscribedMessage{
	font-size:16px;
	margin-top:4px;
	color:#00ff00;
	width:100%;
	float:right;
}
	
.subscriptionErrorMessage{
	font-size:16px;
	color:#ff0000;
	margin-top:4px;
	float: right;
	width: 100%;
}
.cs-style-3 figcaption a{
	right:auto!important;
	left:6px;
	padding: 2px 0 5px!important;
}

.innerPageServiceTitle{
	text-align:right;
}

.categorySolutions ul li span.innerservicePage {
font-size:14px;
}

.categorySolutions ul li h4.lblMore{
	font-size:13px;
	line-height: 0;
}